<table class="table table-striped">
    <thead>
    <tr>
        <th>盘符名称 序列号</th>
        <th>读取总次数</th>
        <th>写入总次数</th>
        <th>读取总字节</th>
        <th>写入总字节</th>
        <th title="指（除NetBSD和OpenBSD外的所有时间）从磁盘读取所用的时间（毫秒）">读取时间（毫秒）</th>
        <th title="指（除NetBSD和OpenBSD外的所有时间）从磁盘写入所用的时间（毫秒）">写入时间（毫秒）</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="item : ${diskIoList}">
        <tr>
            <td th:text="${item.fileSystem}"></td>
            <td th:text="${item.readCount}"></td>
            <td th:text="${item.writeCount}"></td>
            <td th:text="${item.readBytes}"></td>
            <td th:text="${item.writeBytes}"></td>
            <td th:text="${item.readTime}"></td>
            <td th:text="${item.writeTime}"></td>
        </tr>
    </th:block>

    </tbody>
</table>