<div class="input-group">
    <div class="icheck-primary d-inline">
        <input type="radio" id="warnLevel1" name="warnLevel" value="ERROR"  checked>
        <label for="warnLevel1"><span style="opacity:.70">重要告警</span></label>
    </div>
    <div class="icheck-yellow d-inline" style="margin-left:30px;">
        <input type="radio" id="warnLevel2" name="warnLevel" value="WARN">
        <label for="warnLevel2"><span style="opacity:.70">一般告警</span></label>
    </div>
    <div class="icheck-teal d-inline" style="margin-left:30px;">
        <input type="radio" id="warnLevel3" name="warnLevel" value="INFO">
        <label for="warnLevel3"><span style="opacity:.70">信息告警</span></label>
    </div>
</div>