<!DOCTYPE html>
<html>
<head>
  <div  th:replace="common/header.html"></div>

</head>
<body th:class="${session.sidebarCollapse}">
<div th:replace="common/chart.html"></div>

<div class="wrapper">

  <div th:replace="common/navbar.html"></div>

  <div th:replace="common/aside.html"></div>

  <!-- Content Wrapper. Contains page content -->
  <div th:class="'content-wrapper '+${session.themeNameSign}"  style="font-size:0.90rem">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active"></li>
                </ol>
            </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

  <div class="col-md-11">
    <div th:class="'card card-primary '+${session.themeNameSign}">
      <div class="card-header">
        <h3 class="card-title">添加DOCKER监控</h3>
          <div class=" float-sm-right">
              <a href="javascript:history.back()">返回上级</a>
          </div>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
        <form role="form" id="form1" method="post" th:action="@{'/dockerInfo/save'}">
            <input type="hidden" name="id" th:value="${dockerInfo.id}"/>
            <div class="card-body">
                <div class="form-group">
                    <label><font color="red">*</font>监控主机<span class="text-muted">（添加docker后，agent需要3分钟来同步到信息，之后正常监控）</span></label>
                    <div th:replace="common/singleSelectHost.html"></div>
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>获取DOCKER方法</label>
                    <div class="input-group">
                        <div class="icheck-primary d-inline">
                            <input type="radio" id="appType1" name="appType" value="1" onclick="jinchengfangfa('1')">
                            <label for="appType1"><span style="opacity:.70">CONTAINER ID</span></label>
                        </div>
                        <div class="icheck-teal d-inline" style="margin-left:30px;">
                            <input type="radio" id="appType2" name="appType" value="2" onclick="jinchengfangfa('2')" checked>
                            <label for="appType2"><span style="opacity:.70">CONTAINER NAME</span></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label><font color="red">*</font><span id="jinchengfangfa">CONTAINER ID </span><span id="jinchengfangfaSuffix" class="text-muted">（请输入docker容器的完整ID，查看命令：docker ps --no-trunc）</span></label>
                    <input type="text" autocomplete="off"  th:value="${dockerInfo.dockerId}" class="validate[required,maxSize[200]] form-control" name="dockerId" id="dockerId" placeholder="请输入docker容器的完整CONTAINER ID">
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>DOCKER名称</label>
                    <input type="text" autocomplete="off"  th:value="${dockerInfo.dockerName}" class="validate[required,maxSize[200]] form-control" name="dockerName" id="dockerName" placeholder="请输入自定义名称，如LLM平台">
                </div>
                <div id="dataFormList" class="form-group clearfix"></div>
                <th:block th:if="${#strings.isEmpty(dockerInfo.id)}" >
                    <div class="form-group row">
                        <div class="col-12"><button  type="button" onclick="addDataForm()" class="btn btn-primary btn-sm float-right"><i class="fa fa-plus-circle"></i> 添加一行</button>&nbsp;</div>
                    </div>
                    <input type="hidden" name="dataFromIndex"  id="dataFromIndex"/>
                </th:block>
                <div class="form-group">
                    <label><font color="red">*</font>告警级别</label>
                    <div th:replace="common/warnLevel.html"></div>
                </div>
                <div class="form-group clearfix">
                    <label><font color="red">*</font>监控状态</label>
                    <div th:replace="common/activeRadio.html"></div>
                </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm" style="margin-right:10px;"><i class="fas fa-save"></i> 保 存</button>
                <button type="button"  th:onclick="goback()"  class="btn bg-danger btn-sm"><i class="fas fa-backward"></i> 返 回</button>
            </div>

        </form>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->


  </div><!-- /.col-md-10 -->

        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->


  <div th:replace="common/footer.html"></div>

</div>
<!-- ./wrapper -->

<!-- 动态添加一行数据 -->
<div  id="dataHideContent" style="display: none">
    <div id="dataFrom_{num}" class="card card-primary card-outline">
        <div class="card-body">
            <div class="form-group">
                <label><font color="red">*</font><span>CONTAINER ID </span><span class="text-muted">（请输入docker容器的完整ID，查看命令：docker ps --no-trunc）</span></label>
                <input type="text" autocomplete="off"  class="validate[required,maxSize[200]] form-control" name="dockerId_{num}" id="dockerId_{num}" placeholder="">
            </div>
            <div class="form-group">
                <label><font color="red">*</font>DOCKER名称</label>
                <input type="text" autocomplete="off"  class="validate[required,maxSize[200]] form-control" name="dockerName_{num}" id="dockerName_{num}" placeholder="请输入自定义名称，如LLM平台">
            </div>
            <div class="form-group">
                <div class="col-12"><button type="button" onclick="removeDiv('dataFrom_{num}')" class="btn bg-danger btn-sm float-right"><i class="far fa-trash-alt"></i> 删除</button></div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{'/static/js/docker.js?v=3.5.0'}"></script>
<script th:inline="javascript">
    $(document).ready(function(){
        $("#form1").validationEngine();
        //Initialize Select2 Elements
        $('.select2').select2()
        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })

        $("#hostname").val([[${dockerInfo.hostname}]]).select2();
        var appTypeVal = [[${dockerInfo.appType}]];
        $("input[name='appType'][value='"+appTypeVal+"']").attr('checked','true');
        if(appTypeVal==null){
            appTypeVal = "2";
            appType = "2";
        }
        jinchengfangfaHuixian(appTypeVal);
        var warnLevel = [[${dockerInfo.warnLevel}]];
        $("input[name='warnLevel'][value='"+warnLevel+"']").attr('checked','true');
        var active = [[${dockerInfo.active}]];
        $("input[name='active'][value='"+active+"']").attr('checked','true');
    });

    function jinchengfangfaHuixian(appTypeVal) {
        var fangfa = appTypeVal;
        if(fangfa=='1'){
            $("#jinchengfangfa").html("CONTAINER ID");
            $("#dockerId").attr("placeholder","请输入docker容器的完整CONTAINER ID，如：6d9e50b1e80277f8da8dcad9a08571d823148ec1a9e14d207e8b062543e93c13");
            $("#jinchengfangfaSuffix").html("（请输入docker容器的完整ID，查看命令：docker ps --no-trunc）");
        }
        if(fangfa=='2'){
            $("#jinchengfangfa").html("CONTAINER NAME");
            $("#dockerId").attr("placeholder","请输入docker容器的NAME，如：tomcat8");
            $("#jinchengfangfaSuffix").html("（请输入docker容器的NAME，如tomcat，查看命令：docker ps --no-trunc）");
        }
    }

    function jinchengfangfa(appTypeVal) {
        var fangfa = appTypeVal;
        if(fangfa=='1'){
            $("#jinchengfangfa").html("CONTAINER ID");
            $("#dockerId").attr("placeholder","请输入docker容器的完整CONTAINER ID，如：6d9e50b1e80277f8da8dcad9a08571d823148ec1a9e14d207e8b062543e93c13");
            $("#jinchengfangfaSuffix").html("（请输入docker容器的完整ID，查看命令：docker ps --no-trunc）");
        }
        if(fangfa=='2'){
            $("#jinchengfangfa").html("CONTAINER NAME");
            $("#dockerId").attr("placeholder","请输入docker容器的NAME，如：tomcat8");
            $("#jinchengfangfaSuffix").html("（请输入docker容器的NAME，查看命令：docker ps --no-trunc）");
        }
        appType = fangfa;
    }

</script>
</body>
</html>
