<!DOCTYPE html>
<html>
<head>
  <div  th:replace="common/header.html"></div>


</head>
<body th:class="${session.sidebarCollapse}">
<div th:replace="common/chart.html"></div>

<div class="wrapper">

  <div th:replace="common/navbar.html"></div>

  <div th:replace="common/aside.html"></div>

  <!-- Content Wrapper. Contains page content -->
  <div th:class="'content-wrapper '+${session.themeNameSign}"  style="font-size:0.90rem">
    <!-- Content Header (Page header) -->
    <section class="content-header" style="height:38px">
      <div class="container-fluid">
        <div class="row mb-2" style="margin-top: -7px;">
          <div class="col-sm-6"></div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item" data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top" data-content="正在监控中的资源"><a th:href="@{'/dbInfo/list?active=1'}">监控中</a></li>
              <li class="breadcrumb-item" data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top" data-content="已停止监控的资源"><a th:href="@{'/dbInfo/list?active=2'}">已停止</a></li>
              <li class="breadcrumb-item"><a href="javascript:history.back()">返回上级</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

  <div class="col-md-12">
    <div th:class="'card '+${session.themeNameSign}">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-database nav-icon"></i>&nbsp;数据库信息</h3>
        <div class=" float-sm-right">
          <form class="form-inline ml-3">
            <button type="button" onclick="searchByOnline('')" class="btn btn-primary btn-sm" style="margin-right:5px;">全部</button>
            <button type="button" onclick="searchByOnline('1')" class="btn btn-success btn-sm" style="margin-right:5px;">在线</button>
            <button type="button" onclick="searchByOnline('2')" class="btn bg-danger btn-sm" style="margin-right:5px;">已离线</button>
            <th:block th:if="${session.LOGIN_KEY.role != 'guest'}">
              <button type="button" onclick="startMonitor('/dbInfo/updateActive')" class="btn btn-primary btn-sm" style="margin-right:5px;">开始监控</button>
              <button type="button" onclick="stopMonitor('/dbInfo/updateActive')" class="btn btn-default btn-sm" style="margin-right:5px;">停止监控</button>
              <button type="button" onclick="delChecks('/dbInfo/del')"  class="btn bg-danger btn-sm" style="margin-right:5px;">删除</button>
              <button type="button" th:if="${application.LICENSE_STATE eq '1' && application.userInfoManage == 'true' && session.LOGIN_KEY.role == 'admin'}" onclick="showMoveToAccount('3')"  class="btn btn-warning btn-sm" style="margin-right:5px;">迁移</button>
              <th:block th:if="${application.hostGroup == 'true'}"><button type="button" th:onclick="showSetGroupId()" class="btn btn-primary btn-sm" style="margin-right:5px;">设置标签</button></th:block>
              <button type="button" onclick="add()" class="btn btn-primary btn-sm" style="margin-right:5px;">添加</button>
            </th:block>
            <div th:replace="common/groupSelect.html"></div>
            <div th:replace="common/accountSelect.html"></div>
            <div class="input-group input-group-sm">
              <input th:class="'form-control '+${session.themeNameSign}"  id="aliasName" name="aliasName" autocomplete="off" th:value="${dbInfo.aliasName}" type="text" placeholder="数据库名称">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </div>

            </div>
          </form>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table th:class="'table table-bordered '+${session.themeTableHoverSign}">
          <thead>
          <tr>
            <th style="width: 20px"> <input type="checkbox" value="" name="checkall" id="checkall"></th>
            <th style="width: 60px">序号</th>
            <th>数据库类型</th>
            <th>数据库名称</th>
            <th>连接状态</th>

            <th:block th:if="${dbInfo.orderBy  == 'RES_TIMES'}">
              <th:block th:if="${dbInfo.orderType  == 'ASC'}">
                <th data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top" data-content="连接数据库花费的时间" style="cursor:pointer" onclick="searchByOrder('RES_TIMES','DESC')">连接用时<small    class="text-success mr-1 float-right"><i class="fas fa-arrow-up" style="vertical-align:bottom;"></i>&nbsp;</small></th>
              </th:block>
              <th:block th:if="${dbInfo.orderType  == 'DESC'}">
                <th data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top" data-content="连接数据库花费的时间" style="cursor:pointer" onclick="searchByOrder('RES_TIMES','ASC')">连接用时<small    class="text-success mr-1 float-right"><i class="fas fa-arrow-down" style="color: #dc3545!important;vertical-align:bottom;"></i>&nbsp;</small></th>
              </th:block>
            </th:block>
            <th:block th:if="${dbInfo.orderBy  ne 'RES_TIMES'}">
              <th data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top" data-content="连接数据库花费的时间" style="cursor:pointer" onclick="searchByOrder('RES_TIMES','ASC')">连接用时<small  class="text-muted mr-1 float-right"><i class="fa-solid fa-up-down" style="vertical-align:bottom;"></i></small></th>
            </th:block>

            <th th:if="${application.showWarnCount == 'true'}" title="累积告警次数">告警次数</th>
            <th data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top" data-content="若已离线，显示最后在线时间，但监控仍在继续">更新时间</th>
            <th th:if="${application.hostGroup == 'true'}">标签</th>
            <th>告警级别</th>
            <th>监控状态</th>
            <th th:if="${application.LICENSE_STATE eq '1' && application.userInfoManage == 'true' && session.LOGIN_KEY.role == 'admin'}">账号</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <th:block th:each="item,iterStat : ${page.list}">
            <tr>
              <td><input type="checkbox" th:value="${item.id}" name="todo2" th:id="${item.id}+'_check'"/></td>
              <td th:text="${iterStat.index+1}">1</td>
              <td> <image data-trigger="hover" width="32" height="32" data-container="body" data-toggle="popover" data-placement="top" th:data-content="${item.dbType}+'，'+${item.dbUrl}" th:src="${item.image}"></image></td>

              <th:block th:if="${item.dbState  == '2'}">
                <td><span data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top" data-content="已离线" class="badge bg-danger"  th:text="${item.aliasName}"></span>
              </th:block>
              <th:block th:if="${item.dbState  != '2'}">
                <td><span   th:text="${item.aliasName}"></span>
              </th:block>
              </td>


              <td>
                <th:block th:if="${item.dbState == '2'}">
                  <span class="badge bg-danger">失败</span>
                </th:block>
                <th:block th:if="${item.dbState == '1'}">
                  <span class="badge  bg-primary" >正常</span>
                </th:block>
              </td>
              <td><span class="badge bg-teal" th:text="${item.resTimesSecond}"></span></td>
              <td th:if="${application.showWarnCount == 'true'}"><span  style="cursor:pointer;color:#007bff;font-weight:bold" th:onclick="goHrefLogInfo([[${item.warnQueryWd}]])" th:text="${item.warnCount}"></span></td>
              <td th:text="${#dates.format(item.createTime,'yyyy-MM-dd HH:mm:ss')}">Update software</td>
              <td th:if="${application.hostGroup == 'true'}"><span  data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top" th:data-content="${item.groupId}" th:text="${#strings.abbreviate(item.groupId,60)}"></span></td>
              <td>
                <th:block th:if="${item.warnLevel  == 'ERROR'}">
                  <span class="badge bg-primary">重要</span>
                </th:block>
                <th:block th:if="${item.warnLevel  == 'WARN'}">
                  <span   style="color:#fff!important" class="badge bg-yellow">一般</span>
                </th:block>
                <th:block th:if="${item.warnLevel  == 'INFO'}">
                  <span  class="badge bg-teal">信息</span>
                </th:block>
              </td>
              <td>
                <th:block th:if="${item.active  == '1'}">
                  <span class="badge bg-primary">监控中<span th:if="${item.serverBackupMark eq '1'}" title="此资源由server-backup监控"><i style="margin-left:2px;" class="fa-solid fa-fan"></i></span></span>
                </th:block>
                <th:block th:if="${item.active  == '2'}">
                  <span style="background:#6c757d!important;" class="badge bg-danger">已停止</span>
                </th:block>
              </td>
              <td th:text="${item.account}" th:if="${application.LICENSE_STATE eq '1' && application.userInfoManage == 'true' && session.LOGIN_KEY.role == 'admin'}"></td>
              <td>
                <th:block th:if="${session.LOGIN_KEY.role != 'guest'}">
                  <button type="button"  th:onclick="testHeath([[${item.id}]],[[${item.aliasName}]])"  class="btn btn-primary btn-sm">测试</button>
                  <button type="button"  th:onclick="edit([[${item.id}]])"  class="btn btn-primary btn-sm">编辑</button>
                  <button type="button"  th:onclick="del([[${item.id}]])"  class="btn bg-danger btn-sm">删除</button>
                </th:block>
                <button type="button"  th:onclick="view([[${item.id}]])"  class="btn btn-primary btn-sm">查看详情</button>
                <button type="button"   th:if="${#strings.contains(session.LOGIN_KEY.menuIds,',42,')}" th:onclick="viewTables([[${item.id}]])"  class="btn btn-primary btn-sm">查看数据表</button>
              </td>
            </tr>
          </th:block>

          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
      <div th:replace="common/page.html"></div>
    </div>
    <!-- /.card -->


  </div><!-- /.col-md-12 -->

        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->

  <div class="modal fade" id="modal-default3">
    <div class="modal-dialog">
      <form method="post" id="form4" th:action="@{'/dbInfo/saveGroupId'}">
        <div class="modal-content" style="font-size:0.90rem">
          <div class="modal-header">
            <h4 class="modal-title">设置标签<span class="text-muted">（可多选，在系统管理中维护标签）</span></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              <input type="hidden" id="id3" name="ids"/>
              <select class="select2" multiple="multiple" data-placeholder="请选择" style="width: 100%;" name="groupId">
                <option  value="">请选择</option>
                <th:block th:each="item,iterStat : ${hostGroupList}">
                  <option  th:value="${item.id}"  th:text="${item.groupName}">Alabama</option>
                </th:block>
              </select>
            </p>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default  btn-sm" data-dismiss="modal">关 闭</button>
            <button type="button" onclick="ajaxSaveGroupId()" class="btn btn-primary btn-sm">保 存</button>
          </div>
        </div>
      </form>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <div th:replace="common/moveAccount.html"></div>
  <div th:replace="common/footer.html"></div>

</div>
<!-- ./wrapper -->

<script th:src="@{'/static/js/dbinfo.js?v=3.6.2'}"></script>

<script th:inline="javascript">
  $(document).ready(function(){
    $("#account").val([[${dbInfo.account}]]);
    $("#groupId").val([[${dbInfo.groupId}]]);
    $('.select2').select2();
  });

  var msg = [[${msg}]];
  if(msg!='' && msg!=null){
    toastr.info(msg);
  }
</script>

</body>
</html>
