<!DOCTYPE html>
<html>
<head>
  <div  th:replace="common/header.html"></div>


</head>
<body th:class="${session.sidebarCollapse}">
<div th:replace="common/chart.html"></div>

<div class="wrapper">

  <div th:replace="common/navbar.html"></div>

  <div th:replace="common/aside.html"></div>

  <!-- Content Wrapper. Contains page content -->
  <div th:class="'content-wrapper '+${session.themeNameSign}"  style="font-size:0.90rem">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active"></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

  <div class="col-md-12">
    <div th:class="'card card-primary '+${session.themeNameSign}">
      <div class="card-header">
        <h3 class="card-title" th:text="${dbTable.remark}">详细信息</h3>
        <div class=" float-sm-right">
          <a href="javascript:history.back()">返回上级</a>
        </div>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form role="form">
        <div class="card-body">
          <div class="form-group">
            <label>数据表基础信息 <small  style="background:#508ff4;margin-left:5px;" class="badge badge-danger" data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top" data-content="采集时间"><i class="far fa-clock"></i> <span th:text="${#dates.format(dbTable.createTime,'yyyy-MM-dd HH:mm:ss')}">10 Feb. 2014</span></small></label>
            <div><strong>SQL执行用时：</strong><span th:text="${dbTable.resTimesSecond}"></span>，
              <strong>取值列名：</strong><span th:if="${dbTable.tableName eq '' || dbTable.tableName eq null}">无</span><span th:text="${dbTable.tableName}"></span>，<strong>告警表达式：</strong><span th:if="${dbTable.resultExp eq '' || dbTable.resultExp eq null}">无</span><code class="highlighter-rouge" style="font-size:100%;font-weight:700" th:text="${dbTable.resultExp}"></code>，<strong>备注：</strong><span th:if="${dbTable.remarkExt eq '' || dbTable.remarkExt eq null}">无</span><span th:text="${dbTable.remarkExt}"></span>
            </div>
          </div>
          <div class="form-group"><strong>监控任务执行状态：</strong><span><code class="highlighter-rouge" style="font-size:100%;font-weight:700" th:text="${dbTableInfoErrorMsg}"></code></span></div>
          <div class="form-group">
            <label>数据表SQL</label>
            <div> <textarea class="form-control" name="whereVal" id="whereVal" th:text="${dbTable.whereVal}"  rows="5"></textarea></div>
          </div>
          <div class="form-group">
            <label>SQL执行结果</label>
            <div th:utext="${sqlResultHtmlTable}"></div>
          </div>
        </div>
        <!-- /.card-body -->
      </form>
      <!-- /.card-body -->

      <div class="row">
        <div class="col-12 table-responsive">
          <table class="table table-striped"><tbody><tr>
            <th:block th:each="item : ${amList}">
              <th:block th:if="${item.code eq  am}">
                <td width="2%" style="vertical-align:bottom;"> <button type="button" style="background:#1652f0;color:#fff;border-color:#1652f0;" title="当前已显示该时间段图表" class="btn btn-block btn-outline-danger btn-sm disabled" th:text="${item.msg}">Primary</button></td>
              </th:block>
              <th:block th:unless="${item.code eq  am}">
                <td width="2%" style="vertical-align:bottom;"> <button type="button"  th:onclick="viewDate([[${dbTable.id}]],[[${item.code}]])" class="btn btn-block btn-outline-primary btn-sm" th:text="${item.msg}">Primary</button></td>
              </th:block>
            </th:block>

            <td width="10%">
              <form class="form-inline ml-3   float-sm-right" th:action="@{'/dbTable/viewChart'}">
                <input type="hidden" name="id" th:value="${dbTable.id}"/>
                <div class="input-group input-group-sm">
                  <input type="text" autocomplete="off" value="" class="validate[maxSize[50]] form-control"  th:value="${startTime}" name="startTime" id="startTime" placeholder="开始时间" style="margin-right:5px;">
                  <label style="margin-right:5px;">至</label>
                  <input type="text" autocomplete="off" value="" class="validate[maxSize[50]] form-control"  th:value="${endTime}" name="endTime" id="endTime" placeholder="结束时间" style="margin-right:5px;">
                  <button type="submit" class="btn btn-primary btn-sm" style="margin-right:5px;">查询</button>
                  <button type="button" onclick="resetParam()" class="btn bg-danger btn-sm" style="margin-right:5px;">重置</button>
                </div>
              </form>
            </td>
            <td width="2%" style="vertical-align:bottom;text-align: right"><button type="button" th:onclick="excelExport([[${dbTable.id}]],[[${am}]])" class="btn btn-primary btn-sm">导出Excel</button></td>
          </tr></tbody></table>
        </div>
        <!-- /.col -->
      </div>

      <label style="margin-left: .9rem">结果
        <span style="margin-left:20px">最高</span><span class="description-percentage text-danger" style="margin-left:10px;margin-right:10px;"><i class="fas fa-caret-down"></i> <span th:text="${subtitleDto.maxValue}">18</span></span>
        平均<span class="description-percentage text-warning" style="margin-left:5px;margin-right:10px;"><i class="fas fa-caret-left"></i> <span th:text="${subtitleDto.avgValue}">0</span></span>
        最低<span class="description-percentage text-success" style="margin-left:5px;margin-right:30px;"><i class="fas fa-caret-up"></i> <span th:text="${subtitleDto.minValue}">17</span></span></label>
        <div id="cpuStateJson"></div>



    </div>
    <!-- /.card -->


  </div><!-- /.col-md-12 -->

        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->


  <div th:replace="common/footer.html"></div>

</div>
<!-- ./wrapper -->
<div th:replace="common/codemirror.html"></div>
<script th:src="@{'/static/js/dbtable.js?v=3.5.0'}"></script>


<script th:inline="javascript">
  var startTimeResponse =[[${startTime}]];
  var endTimeResponse =[[${endTime}]];
  $(document).ready(function(){
    var startTime = $('#startTime');
    if(startTime!=null && startTime != undefined){
      startTime.daterangepicker({
        singleDatePicker: true,
        timePicker: true,
        timePicker24Hour : true,
        "opens": "center",
        "locale": {
          format: 'YYYY-MM-DD HH:mm',
          applyLabel: "应用",
          cancelLabel: "取消",
          daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
          monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
        }
      });
      if(startTimeResponse=='' || startTimeResponse==null){
        startTime.val("");
      }
    }

    var endTime = $('#endTime');
    if(endTime!=null && endTime != undefined){
      endTime.daterangepicker({
        singleDatePicker: true,
        timePicker: true,
        timePicker24Hour : true,
        "opens": "center",
        "locale": {
          format: 'YYYY-MM-DD HH:mm',
          applyLabel: "应用",
          cancelLabel: "取消",
          daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
          monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
        }
      });
      if(endTimeResponse=='' || endTimeResponse==null){
        endTime.val("");
      }
    }

    var editor = CodeMirror.fromTextArea(document.getElementById("whereVal"), {
      lineNumbers: true,
      styleActiveLine: true,
      matchBrackets: true,
      mode: 'sql',
    });
    editor.setOption("theme", "dracula");
    editor.setSize('auto','auto');
  });

  function resetParam(){
    $("#startTime").val("");
    $("#endTime").val("");
  }

    var dbTableCountsJson =[[${dbTableCounts}]];
    $(function() {
      var chart = new G2.Chart({
        container: 'cpuStateJson',
        forceFit: true,
        height: 400,
        padding: [30, 40, 70, 60]
      });
      chart.axis('customValueDouble', {
        label: {
          formatter: val => {
            if(val>=10000){
              return String(val/1000) + 'K';
            }else{
              return String(val);
            }
          }
        }
      });
      chart.source(dbTableCountsJson);
      chart.tooltip({
        crosshairs:false
      });
      chart.scale('dateStr',{tickCount: 12,alias: '时间'});
      chart.line()
              .position('dateStr*customValueDouble')
              .color('customName')
              .size(2);
      chart.render();
    })

  var msg = [[${msg}]];
  if(msg!='' && msg!=null){
    toastr.info(msg);
  }

  var compressDataMsg = [[${compressDataMsg}]];
  if(compressDataMsg!='' && compressDataMsg!=null){
    toastr.success(compressDataMsg);
  }
</script>


</body>
</html>
