<!DOCTYPE html>
<html>
<head>
  <div  th:replace="common/header.html"></div>


</head>
<body th:class="${session.sidebarCollapse}">
<div th:replace="common/chart.html"></div>

<div class="wrapper">

  <div th:replace="common/navbar.html"></div>

  <div th:replace="common/aside.html"></div>

  <!-- Content Wrapper. Contains page content -->
  <div th:class="'content-wrapper '+${session.themeNameSign}"  style="font-size:0.90rem">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active"></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

  <div class="col-md-12">
    <div th:class="'card card-primary '+${session.themeNameSign}">
      <div class="card-header">
        <h3 class="card-title">SNMP设备监测信息</h3>
        <div class=" float-sm-right">
          <a href="javascript:history.back()">返回上级</a>
        </div>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form role="form">
        <div class="card-body">
          <div class="form-group">
            <label>设备IP<small  style="background:#508ff4;margin-left:5px;" class="badge badge-danger" title="更新时间"><i class="far fa-clock" ></i> <span th:text="${#dates.format(snmpInfo.createTime,'yyyy-MM-dd HH:mm:ss')}">10 Feb. 2014</span></small></label>
              <div><span th:text="${snmpInfo.hostname}"></span>
                  <th:block th:if="${snmpInfo.remark ne '' && snmpInfo.remark ne null}">
                      （备注：<span th:text="${snmpInfo.remark}"></span>）
                  </th:block>
                ，<strong>监控任务执行状态：</strong><code class="highlighter-rouge" style="font-size:100%;font-weight:700" th:text="${snmpInfoErrorMsg}"></code>
                <span th:if="${application.hostGroup == 'true'}">，<strong>标签：</strong><span th:if="${snmpInfo.groupId eq '' || snmpInfo.groupId eq null}">无</span><span th:text="${snmpInfo.groupId}"></span></span></div>
            <div style="margin-top:10px;" th:if="${snmpInfo.sysDescVal ne '' && snmpInfo.sysDescVal ne null}">
              <label><span>设备基础信息</span></label>
              <div>
                <span th:text="${snmpInfo.sysDescVal}"></span>
              </div>
            </div>
            <div style="margin-top:10px;" th:if="${snmpInfo.voltageOid ne '' && snmpInfo.voltageOid ne null}">
              <label><span>设备运行时间</span></label>
              <div>
                <span th:text="${snmpInfo.voltageValue}"></span>
              </div>
            </div>

            <div style="margin-top:10px;" th:if="${not #lists.isEmpty(allIfOperStatusList)}">
              <label><span>接口状态</span>
                <span class="text-muted" th:text="${allIfOperStatusListMsg}"></span></label>
              <div style="margin-top:10px;">
                <th:block th:each="item : ${allIfOperStatusList}">
                  <th:block th:if="${item.value eq '1'}">
                    <label style="margin-right:10px;" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="top" data-content="up"><span class="badge bg-success"><i class="fas fa-ethernet nav-icon"></i><span style="margin-left:2px" th:text="${item.indexOper}"></span></span></label>
                  </th:block>
                  <th:block th:if="${item.value eq '2'}">
                    <label style="margin-right:10px;" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="top" data-content="down"><span class="badge bg-danger"><i class="fas fa-ethernet nav-icon"></i><span style="margin-left:2px" th:text="${item.indexOper}"></span></span></label>
                  </th:block>
                  <th:block th:if="${item.value ne '1' && item.value ne '2'}">
                    <label style="margin-right:10px;" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="top" data-content="unknown"><span style="background:#6c757d!important;" class="badge bg-danger"><i class="fas fa-ethernet nav-icon"></i><span style="margin-left:2px" th:text="${item.indexOper}"></span></span></label>
                  </th:block>
                </th:block>
              </div>
            </div>

            <div style="margin-top:10px;" th:if="${not #lists.isEmpty(allIfOperSpeedList)}">
              <label><span>接口速率（上行/下行）</span>
                <span class="text-muted" th:text="${allIfOperSpeedListMsg}"></span></label>
              <div style="margin-top:10px;">
                <th:block th:each="item : ${allIfOperSpeedList}">
                    <label style="margin-right:30px;font-weight:400;"><span class="badge bg-primary"><i class="fas fa-ethernet nav-icon"></i><span style="margin-left:2px" th:text="${item.indexOper}"></span></span> <i class="fas fa-arrow-up"  style="color:#2ed8b6!important;"></i><span style="margin-left:3px" th:text="${item.sentAvg}"></span>，<i class="fas fa-arrow-down" style="color:#ff5370!important;"></i><span style="margin-left:3px" th:text="${item.recvAvg}"></span></label>
                </th:block>
              </div>
            </div>

          </div>
        </div>
        <!-- /.card-body -->
      </form>
      <!-- /.card-body -->



      <div class="row">
        <div class="col-12 table-responsive">
          <table class="table table-striped"><tbody><tr>
            <th:block th:each="item : ${amList}">
              <th:block th:if="${item.code eq  am}">
                <td width="2%" style="vertical-align:bottom;"> <button type="button" title="当前已显示该时间段图表" class="btn btn-block btn-outline-danger btn-sm disabled" th:text="${item.msg}">Primary</button></td>
              </th:block>
              <th:block th:unless="${item.code eq  am}">
                <td width="2%" style="vertical-align:bottom;"> <button type="button"  th:onclick="viewDate([[${snmpInfo.id}]],[[${item.code}]])" class="btn btn-block btn-outline-primary btn-sm" th:text="${item.msg}">Primary</button></td>
              </th:block>
            </th:block>

            <td width="10%">
              <form class="form-inline ml-3   float-sm-right" th:action="@{'/snmpInfo/view'}">
                <input type="hidden" name="id" th:value="${snmpInfo.id}"/>
                <div class="input-group input-group-sm">
                  <input type="text" autocomplete="off" value="" class="validate[maxSize[50]] form-control"  th:value="${startTime}" name="startTime" id="startTime" placeholder="开始时间" style="margin-right:5px;">
                  <label style="margin-right:5px;">至</label>
                  <input type="text" autocomplete="off" value="" class="validate[maxSize[50]] form-control"  th:value="${endTime}" name="endTime" id="endTime" placeholder="结束时间" style="margin-right:5px;">
                  <button type="submit" class="btn btn-primary btn-sm" style="margin-right:5px;">查询</button>
                  <button type="button" onclick="resetParam()" class="btn bg-danger btn-sm" style="margin-right:5px;">重置</button>
                </div>
              </form>
            </td>
            <td width="2%" style="vertical-align:bottom;text-align: right"><button type="button" th:onclick="excelExport([[${snmpInfo.id}]],[[${am}]])" class="btn btn-primary btn-sm">导出Excel</button></td>
          </tr></tbody></table>
        </div>
        <!-- /.col -->
      </div>

      <label style="margin-left: .9rem">上行/下行总速率（MB/s）
        <span style="margin-left:20px">上行流量速率最高</span><span class="description-percentage text-danger" style="margin-left:10px;margin-right:10px;"><i class="fas fa-caret-down"></i> <span th:text="${sentSubtitleDto.maxValue}">18</span></span>
        平均<span class="description-percentage text-warning" style="margin-left:5px;margin-right:10px;"><i class="fas fa-caret-left"></i> <span th:text="${sentSubtitleDto.avgValue}">0</span></span>
        最低<span class="description-percentage text-success" style="margin-left:5px;margin-right:30px;"><i class="fas fa-caret-up"></i> <span th:text="${sentSubtitleDto.minValue}">17</span></span>
        <span style="margin-left:20px">下行流量速率最高</span><span class="description-percentage text-danger" style="margin-left:10px;margin-right:10px;"><i class="fas fa-caret-down"></i> <span th:text="${rxbytSubtitleDto.maxValue}">18</span></span>
        平均<span class="description-percentage text-warning" style="margin-left:5px;margin-right:10px;"><i class="fas fa-caret-left"></i> <span th:text="${rxbytSubtitleDto.avgValue}">0</span></span>
        最低<span class="description-percentage text-success" style="margin-left:5px;margin-right:30px;"><i class="fas fa-caret-up"></i> <span th:text="${rxbytSubtitleDto.minValue}">17</span></span></label>
      <div id="snmpStateJson"></div>

      <label style="margin-left: .9rem">cpu使用率%
        <span style="margin-left:20px">最高</span><span class="description-percentage text-danger" style="margin-left:10px;margin-right:10px;"><i class="fas fa-caret-down"></i> <span th:text="${cpuPerSubtitleDto.maxValue}">18</span></span>
        平均<span class="description-percentage text-warning" style="margin-left:5px;margin-right:10px;"><i class="fas fa-caret-left"></i> <span th:text="${cpuPerSubtitleDto.avgValue}">0</span></span>
        最低<span class="description-percentage text-success" style="margin-left:5px;margin-right:30px;"><i class="fas fa-caret-up"></i> <span th:text="${cpuPerSubtitleDto.minValue}">17</span></span></label>
      <div id="cpuStateJson"></div>

      <label style="margin-left: .9rem">内存使用率%
        <span style="margin-left:20px">最高</span><span class="description-percentage text-danger" style="margin-left:10px;margin-right:10px;"><i class="fas fa-caret-down"></i> <span th:text="${memSizeSubtitleDto.maxValue}">18</span></span>
        平均<span class="description-percentage text-warning" style="margin-left:5px;margin-right:10px;"><i class="fas fa-caret-left"></i> <span th:text="${memSizeSubtitleDto.avgValue}">0</span></span>
        最低<span class="description-percentage text-success" style="margin-left:5px;margin-right:30px;"><i class="fas fa-caret-up"></i> <span th:text="${memSizeSubtitleDto.minValue}">17</span></span></label>
      <div id="memStateJson"></div>

      <label style="margin-left: .9rem">设备运行温度℃
        <span style="margin-left:20px">最高</span><span class="description-percentage text-danger" style="margin-left:10px;margin-right:10px;"><i class="fas fa-caret-down"></i> <span th:text="${temperatureSubtitleDto.maxValue}">18</span></span>
        平均<span class="description-percentage text-warning" style="margin-left:5px;margin-right:10px;"><i class="fas fa-caret-left"></i> <span th:text="${temperatureSubtitleDto.avgValue}">0</span></span>
        最低<span class="description-percentage text-success" style="margin-left:5px;margin-right:30px;"><i class="fas fa-caret-up"></i> <span th:text="${temperatureSubtitleDto.minValue}">17</span></span></label>
      <div id="temperatureStateJson"></div>
      <div class="card-footer">
        <button type="button"  th:onclick="goback()"  class="btn bg-danger btn-sm"><i class="fas fa-backward"></i> 返 回</button>
      </div>

    </div>
    <!-- /.card -->


  </div>

        </div>
      </div>
    </section>
  </div>


  <div th:replace="common/footer.html"></div>

</div>
<!-- ./wrapper -->

<script th:src="@{'/static/js/snmp.js?v=3.5.0'}"></script>


<script th:inline="javascript">
  var startTimeResponse =[[${startTime}]];
  var endTimeResponse =[[${endTime}]];
  $(document).ready(function(){
    var startTime = $('#startTime');
    if(startTime!=null && startTime != undefined){
      startTime.daterangepicker({
        singleDatePicker: true,
        timePicker: true,
        timePicker24Hour : true,
        "opens": "center",
        "locale": {
          format: 'YYYY-MM-DD HH:mm',
          applyLabel: "应用",
          cancelLabel: "取消",
          daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
          monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
        }
      });
      if(startTimeResponse=='' || startTimeResponse==null){
        startTime.val("");
      }
    }

    var endTime = $('#endTime');
    if(endTime!=null && endTime != undefined){
      endTime.daterangepicker({
        singleDatePicker: true,
        timePicker: true,
        timePicker24Hour : true,
        "opens": "center",
        "locale": {
          format: 'YYYY-MM-DD HH:mm',
          applyLabel: "应用",
          cancelLabel: "取消",
          daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
          monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
        }
      });
      if(endTimeResponse=='' || endTimeResponse==null){
        endTime.val("");
      }
    }
  });

  function resetParam(){
    $("#startTime").val("");
    $("#endTime").val("");
  }
  var snmpStateJson =[[${snmpStateList}]];
    $(function() {
      var chart = new G2.Chart({
        container: 'snmpStateJson',
        forceFit: true,
        height: 400,
        padding: [30, 40, 70, 48]
      });
      chart.axis('dateStr', {
        label: {
          textStyle: {
            fill: '#aaaaaa'
          }
        }
      });
      chart.axis('sentAvgDouble', false);
      chart.tooltip({
        crosshairs: false
      });
      chart.legend({
        position: 'top-center'
      });
      chart.source(snmpStateJson, {
        recvAvgDouble: {
          alias: '下行MB/秒',
          min: 0,
          max: [[${snmpAvgMax}]]
        },
        sentAvgDouble: {
          alias: '上行MB/秒',
          min: 0,
          max: [[${snmpAvgMax}]]
        }
      });
      chart.scale('dateStr',{tickCount: 12,alias: '时间'});
      chart.line().position('dateStr*recvAvgDouble').color('#1890ff');
      chart.line().position('dateStr*sentAvgDouble').color('#2fc25b');
      chart.render();

      var chartCpuPer = new G2.Chart({
        container: 'cpuStateJson',
        forceFit: true,
        height: 400,
        padding: [30, 40, 70, 60]
      });
      chartCpuPer.axis('dateStr', {
        label: {
          textStyle: {
            fill: '#aaaaaa'
          }
        }
      });
      chartCpuPer.axis('cpuPerDouble', {
        label: {
          textStyle: {
            fill: '#aaaaaa'
          }
        }
      });
      chartCpuPer.tooltip({
        crosshairs: false
      });
      chartCpuPer.legend({
        position: 'top-center'
      });
      chartCpuPer.source(snmpStateJson, {
        cpuPerDouble: {
          alias: 'cpu使用率%'
        }
      });
      chartCpuPer.scale('dateStr',{tickCount: 12,alias: '时间'});
      chartCpuPer.line().position('dateStr*cpuPerDouble').color('#1890ff');
      chartCpuPer.render();

      var chartMem = new G2.Chart({
        container: 'memStateJson',
        forceFit: true,
        height: 400,
        padding: [30, 40, 70, 60]
      });
      chartMem.axis('dateStr', {
        label: {
          textStyle: {
            fill: '#aaaaaa'
          }
        }
      });
      chartMem.axis('memPerDouble', {
        label: {
          textStyle: {
            fill: '#aaaaaa'
          }
        }
      });
      chartMem.tooltip({
        crosshairs: false
      });
      chartMem.legend({
        position: 'top-center'
      });
      chartMem.source(snmpStateJson, {
        memPerDouble: {
          alias: '使用率%'
        }
      });
      chartMem.scale('dateStr', {tickCount: 12, alias: '时间'});
      chartMem.line().position('dateStr*memPerDouble').color('#8B78F6');
      chartMem.render();

      var chartTemperature = new G2.Chart({
        container: 'temperatureStateJson',
        forceFit: true,
        height: 400,
        padding: [30, 40, 70, 60]
      });
      chartTemperature.axis('dateStr', {
        label: {
          textStyle: {
            fill: '#aaaaaa'
          }
        }
      });
      chartTemperature.axis('temperatureValueDouble', {
        label: {
          textStyle: {
            fill: '#aaaaaa'
          }
        }
      });
      chartTemperature.tooltip({
        crosshairs: false
      });
      chartTemperature.legend({
        position: 'top-center'
      });
      chartTemperature.source(snmpStateJson, {
        temperatureValueDouble: {
          alias: '温度℃'
        }
      });
      chartTemperature.scale('dateStr', {tickCount: 12, alias: '时间'});
      chartTemperature.line().position('dateStr*temperatureValueDouble').color('#8B78F6');
      chartTemperature.render();

    })

  var msg = [[${msg}]];
  if(msg!='' && msg!=null){
    toastr.info(msg);
  }

  var compressDataMsg = [[${compressDataMsg}]];
  if(compressDataMsg!='' && compressDataMsg!=null){
    toastr.success(compressDataMsg);
  }
</script>


</body>
</html>
