<div class="modal fade" id="modal-default">
    <div class="modal-dialog" style="max-width:650px;">
        <div class="modal-content" style="font-size:0.90rem">
            <div class="modal-header">
                <h4 class="modal-title">测试获取OID结果</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                <div class="input-group" style="font-weight:700;"><code style="font-size:100%" id="testOidValue"></code></div>
                <div class="input-group" id="testResultData"></div>
                </p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default  btn-sm" data-dismiss="modal">关 闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>