<!DOCTYPE html>
<html>
<head>
  <div  th:replace="common/header.html"></div>


</head>
<body th:class="${session.sidebarCollapse}">
<div th:replace="common/chart.html"></div>

<div class="wrapper">

  <div th:replace="common/navbar.html"></div>

  <div th:replace="common/aside.html"></div>

  <!-- Content Wrapper. Contains page content -->
  <div th:class="'content-wrapper '+${session.themeNameSign}"  style="font-size:0.90rem">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active"></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

  <div class="col-md-12">
    <div th:class="'card card-primary '+${session.themeNameSign}">
      <div class="card-header">
        <h3 class="card-title">Redis 运行参数详情</h3>
        <div class=" float-sm-right">
          <a href="javascript:history.back()">返回上级</a>
        </div>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form role="form">
        <div class="card-body">
          <div class="form-group">
            <label>Redis 名称</label>
            <div th:text="${redisMonitor.redisName}"></div>
          </div>
          <div class="form-group">
            <label>Redis 节点</label>
            <div th:text="${redisMonitor.redisNodeInfo}"></div>
          </div>
          <div class="form-group">
            <label>更新时间</label>
            <div th:text="${#dates.format(redisMonitor.createTime,'yyyy-MM-dd HH:mm:ss')}"></div>
          </div>
          <div class="form-group">
            <label>监控任务执行状态</label>
            <div><code class="highlighter-rouge" style="font-size:100%;font-weight:700" th:text="${redisMonitorErrorMsg}"></code></div>
          </div>
          <div class="form-group">
            <label>详细信息</label>
            <div><textarea class="form-control" name="warContent" id="warContent" th:utext="${redisMonitorContent}"></textarea></div>
          </div>

        </div>
        <!-- /.card-body -->


      </form>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->


  </div>

        </div>
      </div>
    </section>
  </div>


  <div th:replace="common/footer.html"></div>

</div>
<!-- ./wrapper -->
<div th:replace="common/codemirror.html"></div>
<script th:inline="javascript">
  var editor = CodeMirror.fromTextArea(document.getElementById("warContent"), {
    lineNumbers: true,
    styleActiveLine: true,
    lineSeparator: '</br>',
    readOnly: true,
    matchBrackets: true
  });
  editor.setOption("theme", "isotope");
  editor.setSize('auto','auto');
</script>
</body>
</html>
