<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgcloud.mapper.CustomInfoMapper">
	<resultMap id="resultMap" type="com.wgcloud.entity.CustomInfo">
		<id column="ID" property="id" jdbcType="CHAR" />
		<result column="HOST_NAME" property="hostname" jdbcType="CHAR" />
		<result column="CUSTOM_NAME" property="customName" jdbcType="CHAR" />
		<result column="CUSTOM_SHELL" property="customShell" jdbcType="CHAR" />
		<result column="RESULT_EXP" property="resultExp" jdbcType="CHAR" />
		<result column="CUSTOM_VALUE" property="customValue" jdbcType="CHAR" />
		<result column="STATE" property="state" jdbcType="CHAR" />
		<result column="ACTIVE" property="active" jdbcType="CHAR" />
		<result column="GROUP_ID" property="groupId" jdbcType="CHAR" />
		<result column="WARN_LEVEL" property="warnLevel" jdbcType="CHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="tableColumnList">
		ID,HOST_NAME, CUSTOM_NAME,CUSTOM_SHELL,CREATE_TIME,RESULT_EXP,STATE,ACTIVE,CUSTOM_VALUE,GROUP_ID,WARN_LEVEL
	</sql>

	<sql id="queryByParams">
		<if test="hostname != null">
			<choose>
				<when test="_databaseId == 'oracle'">
					<![CDATA[ AND ( HOST_NAME  = #{hostname} OR CUSTOM_NAME LIKE  CONCAT(CONCAT('%',#{hostname}),'%') )]]>
				</when>
				<otherwise>
					<![CDATA[ AND ( HOST_NAME  = #{hostname} OR CUSTOM_NAME LIKE  CONCAT('%',#{hostname},'%') )]]>
				</otherwise>
			</choose>
		</if>
		<if test="state != null">
			<![CDATA[ AND STATE = #{state} ]]>
		</if>
		<if test="active != null">
			<![CDATA[ AND ACTIVE = #{active} ]]>
		</if>
		<if test="groupId != null">
			<include refid="commonSqlUtil.groupIdQueryParams" />
		</if>
		<if test="account != null">
			<include refid="commonSqlUtil.hostChildAccountQueryParams" />
		</if>
	</sql>


	<select id="selectById" resultMap="resultMap" parameterType="java.lang.String">
		SELECT
		<include refid="tableColumnList" />
		FROM CUSTOM_INFO
		WHERE ID=#{id}
	</select>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM CUSTOM_INFO
		WHERE ID = #{id}
	</delete>


	<delete id="deleteByHostName" parameterType="map">
		DELETE FROM CUSTOM_INFO WHERE <![CDATA[  HOST_NAME =#{hostname}]]>
	</delete>

	<update id="updateActive"  parameterType="map">
		UPDATE  CUSTOM_INFO SET ACTIVE = #{active} WHERE ID IN
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>

	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM
		CUSTOM_INFO
		WHERE ID IN
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<insert id="save" parameterType="com.wgcloud.entity.CustomInfo">
		INSERT INTO CUSTOM_INFO
    	<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="id != null" >ID,</if>
      		<if test="hostname != null" >HOST_NAME,</if>
      		<if test="customName != null">CUSTOM_NAME,</if>
      		<if test="customShell != null">CUSTOM_SHELL,</if>
			<if test="resultExp != null">RESULT_EXP,</if>
			<if test="state != null">STATE,</if>
			<if test="active != null">ACTIVE,</if>
			<if test="groupId != null">GROUP_ID,</if>
			<if test="customValue != null">CUSTOM_VALUE,</if>
			<if test="warnLevel != null">WARN_LEVEL,</if>
      		<if test="createTime != null" >CREATE_TIME</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="id != null" >#{id},</if>
      		<if test="hostname != null" >#{hostname},</if>
      		<if test="customName != null" >#{customName},</if>
      		<if test="customShell != null" >#{customShell},</if>
			<if test="resultExp != null" >#{resultExp},</if>
			<if test="state != null" >#{state},</if>
			<if test="active != null" >#{active},</if>
			<if test="groupId != null" >#{groupId},</if>
			<if test="customValue != null" >#{customValue},</if>
			<if test="warnLevel != null" >#{warnLevel},</if>
      		<if test="createTime != null" >#{createTime}</if>
    	</trim>
	</insert>

	<insert id="insertList" parameterType="java.util.List" >
		<choose>
			<when test="_databaseId == 'oracle'">
				begin
				<foreach collection="list" item="item" index="index">
					INSERT INTO CUSTOM_INFO (ID,HOST_NAME, CUSTOM_NAME,CUSTOM_SHELL,CREATE_TIME,RESULT_EXP,STATE,ACTIVE,GROUP_ID,CUSTOM_VALUE,WARN_LEVEL)  VALUES
					(#{item.id},#{item.hostname},#{item.customName},#{item.customShell},#{item.createTime},#{item.state},#{item.active},#{item.groupId},#{item.customValue},#{item.warnLevel});
				</foreach>
				end;
			</when>
			<otherwise>
				INSERT INTO CUSTOM_INFO (ID,HOST_NAME, CUSTOM_NAME,CUSTOM_SHELL,CREATE_TIME,RESULT_EXP,STATE,ACTIVE,GROUP_ID,CUSTOM_VALUE,WARN_LEVEL)  VALUES
				<foreach collection="list" item="item" index="index" separator="," >
					(#{item.id},#{item.hostname},#{item.customName},#{item.customShell},#{item.createTime},#{item.state},#{item.active},#{item.groupId},#{item.customValue},#{item.warnLevel})
				</foreach>
			</otherwise>
		</choose>
	</insert>

	<update id="downByHostName" parameterType="java.util.List">
		UPDATE  CUSTOM_INFO SET STATE = '2'
		WHERE HOST_NAME IN
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>

	<update id="updateList" parameterType="java.util.List" >
		<if test="_databaseId == 'oracle'">
			begin
		</if>
		<foreach collection="list" item="item" index="index">
			UPDATE CUSTOM_INFO
			<set>
				<if test="item.hostname != null">
					HOST_NAME = #{item.hostname},
				</if>
				<if test="item.customName != null">
					CUSTOM_NAME = #{item.customName},
				</if>
				<if test="item.customShell != null">
					CUSTOM_SHELL = #{item.customShell},
				</if>
				<if test="item.resultExp != null">
					RESULT_EXP = #{item.resultExp},
				</if>
				<if test="item.state != null">
					STATE = #{item.state},
				</if>
				<if test="item.active != null">
					ACTIVE = #{item.active},
				</if>
				<if test="item.groupId != null">
					GROUP_ID = #{item.groupId},
				</if>
				<if test="item.customValue != null">
					CUSTOM_VALUE = #{item.customValue},
				</if>
				<if test="item.warnLevel != null">
					WARN_LEVEL = #{item.warnLevel},
				</if>
				<if test="item.createTime != null">
					CREATE_TIME= #{item.createTime}
				</if>
			</set>
			WHERE ID = #{item.id};
		</foreach>
		<if test="_databaseId == 'oracle'">
			end;
		</if>
	</update>


	<update id="updateById" parameterType="com.wgcloud.entity.CustomInfo">
		UPDATE CUSTOM_INFO
		<set>
			<if test="hostname != null">
				HOST_NAME = #{hostname},
			</if>
			<if test="customName != null">
				CUSTOM_NAME = #{customName},
			</if>
			<if test="customShell != null">
				CUSTOM_SHELL = #{customShell},
			</if>
			<if test="resultExp != null">
				RESULT_EXP = #{resultExp},
			</if>
			<if test="state != null">
				STATE = #{state},
			</if>
			<if test="active != null">
				ACTIVE = #{active},
			</if>
			<if test="groupId != null">
				GROUP_ID = #{groupId},
			</if>
			<if test="customValue != null">
				CUSTOM_VALUE = #{customValue},
			</if>
			<if test="warnLevel != null">
				WARN_LEVEL = #{warnLevel},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime}
			</if>
		</set>
		WHERE ID = #{id}
	</update>

	<select id="countByParams" parameterType="map" resultType="java.lang.Integer">
		SELECT count(*)  FROM CUSTOM_INFO t
		<where>
			<include refid="queryByParams" />
		</where>
	</select>


	<select id="selectAllByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM CUSTOM_INFO t
		<where>
			<include refid="queryByParams" />
		</where>
		 ORDER BY ID DESC
	</select>
	
	<select id="selectByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM CUSTOM_INFO
		<where>
			<include refid="queryByParams" />
		</where>
		<choose>
			<when test="orderBy !=null and orderBy != ''">
				<![CDATA[ ORDER BY ${orderBy} ${orderType}]]>
			</when>
			<otherwise>
				ORDER BY ID DESC
			</otherwise>
		</choose>

	</select>
	
	
</mapper>