<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgcloud.mapper.DceInfoMapper">
	<resultMap id="resultMap" type="com.wgcloud.entity.DceInfo">
		<id column="ID" property="id" jdbcType="CHAR" />
		<result column="HOST_NAME" property="hostname" jdbcType="CHAR" />
		<result column="REMARK" property="remark" jdbcType="CHAR" />
		<result column="RES_TIMES" property="resTimes" jdbcType="INTEGER" />
		<result column="ACTIVE" property="active" jdbcType="CHAR" />
		<result column="GROUP_ID" property="groupId" jdbcType="CHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="WARN_LEVEL" property="warnLevel" jdbcType="CHAR" />
		<result column="ACCOUNT" property="account" jdbcType="CHAR" />
		<result column="ORDER_NUM" property="orderNum" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="tableColumnList">
		ID,HOST_NAME, REMARK,CREATE_TIME,RES_TIMES,ACTIVE,GROUP_ID,ACCOUNT,WARN_LEVEL,ORDER_NUM
	</sql>

	<sql id="queryByParams">
		<if test="hostname != null">
			<choose>
				<when test="_databaseId == 'oracle'">
					<![CDATA[ AND HOST_NAME LIKE  CONCAT(CONCAT('%',#{hostname}),'%') ]]>
				</when>
				<otherwise>
					<![CDATA[ AND HOST_NAME LIKE  CONCAT('%',#{hostname},'%') ]]>
				</otherwise>
			</choose>
		</if>
		<if test="hostnameEq != null">
			<![CDATA[ AND HOST_NAME = #{hostnameEq} ]]>
		</if>
		<if test="resTimes != null">
			<![CDATA[ AND RES_TIMES = #{resTimes} ]]>
		</if>
		<if test="resTimesGt != null">
			<![CDATA[ AND RES_TIMES > #{resTimesGt} ]]>
		</if>
		<if test="active != null">
			<![CDATA[ AND ACTIVE = #{active} ]]>
		</if>
		<if test="groupId != null">
			<include refid="commonSqlUtil.groupIdQueryParams" />
		</if>
		<if test="account != null">
			<![CDATA[ AND ACCOUNT = #{account} ]]>
		</if>
		<if test="dceHostNames != null">
			<![CDATA[ AND HOST_NAME IN ]]>
			<foreach item="item" index="index" collection="dceHostNames" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</sql>

	<select id="selectById" resultMap="resultMap" parameterType="java.lang.String">
		SELECT
		<include refid="tableColumnList" />
		FROM DCE_INFO 
		WHERE ID=#{id} 
	</select>
	
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM DCE_INFO 
		WHERE ID = #{id}
	</delete>


	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM
		DCE_INFO 
		WHERE ID IN
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<update id="updateToTargetAccount"  parameterType="map">
		UPDATE  DCE_INFO SET ACCOUNT = #{accountTarget}
		<where>
			<include refid="commonSqlUtil.updateToTargetAccountQueryParams" />
		</where>
	</update>

	<update id="updateActive"  parameterType="map">
		UPDATE  DCE_INFO SET ACTIVE = #{active} WHERE ID IN
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>

	<update id="updateOrderNum"  parameterType="com.wgcloud.entity.DceInfo">
		UPDATE  DCE_INFO SET ORDER_NUM = #{orderNum} WHERE ID = #{id}
	</update>

	<insert id="save" parameterType="com.wgcloud.entity.DceInfo">
		INSERT INTO DCE_INFO 
    	<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="id != null" >ID,</if>
      		<if test="hostname != null">HOST_NAME,</if>
			<if test="remark != null">REMARK,</if>
			<if test="resTimes != null">RES_TIMES,</if>
			<if test="active != null">ACTIVE,</if>
			<if test="groupId != null">GROUP_ID,</if>
			<if test="account != null">ACCOUNT,</if>
			<if test="warnLevel != null">WARN_LEVEL,</if>
			<if test="orderNum != null">ORDER_NUM,</if>
      		<if test="createTime != null" >CREATE_TIME</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="id != null" >#{id},</if>
      		<if test="hostname != null" >#{hostname},</if>
			<if test="remark != null" >#{remark},</if>
			<if test="resTimes != null" >#{resTimes},</if>
			<if test="active != null" >#{active},</if>
			<if test="groupId != null" >#{groupId},</if>
			<if test="account != null" >#{account},</if>
			<if test="warnLevel != null" >#{warnLevel},</if>
			<if test="orderNum != null" >#{orderNum},</if>
      		<if test="createTime != null" >#{createTime}</if>
    	</trim>
	</insert>

	<insert id="insertList" parameterType="java.util.List" >
		<choose>
			<when test="_databaseId == 'oracle'">
				begin
				<foreach collection="list" item="item" index="index">
					INSERT INTO DCE_INFO (ID,HOST_NAME,REMARK,CREATE_TIME,RES_TIMES,ACTIVE,GROUP_ID,ACCOUNT,WARN_LEVEL)  VALUES
					(#{item.id},#{item.hostname},#{item.remark},#{item.createTime},#{item.resTimes},#{item.active},#{item.groupId},#{item.account},#{item.warnLevel});
				</foreach>
				end;
			</when>
			<otherwise>
				INSERT INTO DCE_INFO (ID,HOST_NAME,REMARK,CREATE_TIME,RES_TIMES,ACTIVE,GROUP_ID,ACCOUNT,WARN_LEVEL)  VALUES
				<foreach collection="list" item="item" index="index" separator="," >
					(#{item.id},#{item.hostname},#{item.remark},#{item.createTime},#{item.resTimes},#{item.active},#{item.groupId},#{item.account},#{item.warnLevel})
				</foreach>
			</otherwise>
		</choose>
	</insert>


	<update id="updateList" parameterType="java.util.List" >
		<if test="_databaseId == 'oracle'">
			begin
		</if>
		<foreach collection="list" item="item" index="index">
			UPDATE DCE_INFO
			<set>
				<if test="item.hostname != null">
					HOST_NAME = #{item.hostname},
				</if>
				<if test="item.remark != null">
					REMARK= #{item.remark},
				</if>
				<if test="item.resTimes != null" >
					RES_TIMES= #{item.resTimes},
				</if>
				<if test="item.active != null" >
					ACTIVE= #{item.active},
				</if>
				<if test="item.groupId != null" >
					GROUP_ID= #{item.groupId},
				</if>
				<if test="item.account != null" >
					ACCOUNT= #{item.account},
				</if>
				<if test="item.warnLevel != null" >
					WARN_LEVEL= #{item.warnLevel},
				</if>
				<if test="item.createTime != null" >
					CREATE_TIME= #{item.createTime},
				</if>
			</set>
			WHERE ID = #{item.id};
		</foreach>
		<if test="_databaseId == 'oracle'">
			end;
		</if>
	</update>


	<update id="updateById" parameterType="com.wgcloud.entity.DceInfo">
		UPDATE DCE_INFO
		<set>
			<if test="hostname != null">
				HOST_NAME = #{hostname},
			</if>
			<if test="remark != null">
				REMARK = #{remark},
			</if>
			<if test="resTimes != null">
				RES_TIMES = #{resTimes},
			</if>
			<if test="active != null">
				ACTIVE = #{active},
			</if>
			<if test="groupId != null">
				GROUP_ID = #{groupId},
			</if>
			<if test="account != null">
				ACCOUNT = #{account},
			</if>
			<if test="warnLevel != null">
				WARN_LEVEL = #{warnLevel},
			</if>
			<if test="orderNum != null">
				ORDER_NUM = #{orderNum},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime}
			</if>
		</set>
		WHERE ID = #{id}
	</update>

	<select id="countByParams" parameterType="map" resultType="java.lang.Integer">
		SELECT count(*)  FROM DCE_INFO t
		<where>
			<include refid="queryByParams" />
		</where>
	</select>


	<select id="selectAllByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM DCE_INFO t
		<where>
			<include refid="queryByParams" />
		</where>
		 ORDER BY ORDER_NUM DESC,ID DESC
	</select>
	
	<select id="selectByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM DCE_INFO
		<where>
			<include refid="queryByParams" />
		</where>

		<choose>
			<when test="orderBy !=null and orderBy != ''">
				<![CDATA[ ORDER BY ${orderBy} ${orderType}]]>
			</when>
			<otherwise>
				ORDER BY ORDER_NUM DESC,ID DESC
			</otherwise>
		</choose>
	</select>
	
	
</mapper>