<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wgcloud.mapper.DceStateMapper">
	<resultMap id="resultMap" type="com.wgcloud.entity.DceState">
		<id column="ID" property="id" jdbcType="CHAR" />
		<result column="DCE_ID" property="dceId" jdbcType="CHAR" />
		<result column="RES_TIMES" property="resTimes" jdbcType="INTEGER" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="tableColumnList">
		ID,DCE_ID, RES_TIMES,CREATE_TIME
	</sql>
	
	<sql id="queryByParams">
		<if test="dceId != null">
			<![CDATA[ AND DCE_ID = #{dceId} ]]>
		</if>
		<if test="startTime != null and endTime !=null and startTime !='' and endTime != '' ">
			<include refid="commonSqlUtil.createTimeQueryParams" />
		</if>
	</sql>
	
	
	<select id="selectById" resultMap="resultMap" parameterType="java.lang.String">
		SELECT
		<include refid="tableColumnList" />
		FROM DCE_STATE
		WHERE ID=#{id} 
	</select>
	
	
	<delete id="deleteByDate"  parameterType="map">
		DELETE FROM DCE_STATE
		<where>
			<include refid="commonSqlUtil.createTimeDelParams" />
		</where>
	</delete>
	
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM DCE_STATE
		WHERE ID = #{id}
	</delete>
	
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM
		DCE_STATE
		WHERE ID IN
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<insert id="save" parameterType="com.wgcloud.entity.DceState">
		INSERT INTO DCE_STATE
    	<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="id != null" >ID,</if>
      		<if test="dceId != null" > DCE_ID,</if>
      		<if test="resTimes != null">RES_TIMES,</if>
      		<if test="createTime != null" >CREATE_TIME</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="id != null" >#{id},</if>
      		<if test="dceId != null" >#{dceId},</if>
      		<if test="resTimes != null" >#{resTimes},</if>
      		<if test="createTime != null" >#{createTime}</if>
    	</trim>
	</insert>
	
	
	<insert id="insertList" parameterType="java.util.List" >
		<choose>
			<when test="_databaseId == 'oracle'">
				begin
				<foreach collection="list" item="item" index="index">
					INSERT INTO DCE_STATE (ID,DCE_ID,RES_TIMES,CREATE_TIME)  VALUES
					(#{item.id},#{item.dceId},#{item.resTimes},#{item.createTime});
				</foreach>
				end;
			</when>
			<otherwise>
				INSERT INTO DCE_STATE (ID,DCE_ID,RES_TIMES,CREATE_TIME)  VALUES
				<foreach collection="list" item="item" index="index" separator="," >
					(#{item.id},#{item.dceId},#{item.resTimes},#{item.createTime})
				</foreach>
			</otherwise>
		</choose>
	 </insert>
	
	
	  <select id="selectAllByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM DCE_STATE t
		<where>
			<include refid="queryByParams" />
		</where>
		 ORDER BY CREATE_TIME ASC
	</select>
	
	<select id="selectByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM DCE_STATE
		<where>
			<include refid="queryByParams" />
		</where>
		 ORDER BY CREATE_TIME DESC
	</select>
	
</mapper>