<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wgcloud.mapper.DockerStateMapper">
	<resultMap id="resultMap" type="com.wgcloud.entity.DockerState">
		<id column="ID" property="id" jdbcType="CHAR" />
		<result column="DOCKER_INFO_ID" property="dockerInfoId" jdbcType="CHAR" />
		<result column="CPU_PER" property="cpuPer" jdbcType="DOUBLE" />
		<result column="MEM_PER" property="memPer" jdbcType="DOUBLE" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="tableColumnList">
		ID,DOCKER_INFO_ID, CPU_PER,MEM_PER,CREATE_TIME
	</sql>

	<sql id="queryByParams">
		<if test="dockerInfoId != null">
			<![CDATA[ AND DOCKER_INFO_ID  = #{dockerInfoId} ]]>
		</if>
		<if test="startTime != null and endTime !=null and startTime !='' and endTime != '' ">
			<include refid="commonSqlUtil.createTimeQueryParams" />
		</if>
	</sql>
	
	<select id="selectById" resultMap="resultMap" parameterType="java.lang.String">
		SELECT
		<include refid="tableColumnList" />
		FROM DOCKER_STATE 
		WHERE ID=#{id} 
	</select>
	
	
	<delete id="deleteByDockerInfoId"  parameterType="java.lang.String">
		DELETE FROM DOCKER_STATE WHERE  DOCKER_INFO_ID  = #{dockerInfoId} 
	</delete>
	
	<delete id="deleteByDate"  parameterType="map">
		DELETE FROM DOCKER_STATE
		<where>
			<include refid="commonSqlUtil.createTimeDelParams" />
		</where>
	</delete>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM DOCKER_STATE 
		WHERE ID = #{id}
	</delete>
	
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM
		DOCKER_STATE 
		WHERE ID IN
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

		
	<insert id="save" parameterType="com.wgcloud.entity.DockerState">
		INSERT INTO DOCKER_STATE
    	<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="id != null" >ID,</if>
      		<if test="dockerInfoId != null" >DOCKER_INFO_ID,</if>
      		<if test="memPer != null" >MEM_PER,</if>
			<if test="cpuPer != null" >CPU_PER,</if>
      		<if test="createTime != null" >CREATE_TIME</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="id != null" >#{id},</if>
      		<if test="dockerInfoId != null" >#{dockerInfoId},</if>
      		<if test="memPer != null" >#{memPer},</if>
			<if test="cpuPer != null" >#{cpuPer},</if>
      		<if test="createTime != null" >#{createTime}</if>
    	</trim>
	</insert>
	
	
	 <insert id="insertList" parameterType="java.util.List" >
		 <choose>
			 <when test="_databaseId == 'oracle'">
				 begin
				 <foreach collection="list" item="item" index="index">
					 INSERT INTO DOCKER_STATE (ID, DOCKER_INFO_ID,MEM_PER,CREATE_TIME,CPU_PER)  VALUES
					 (#{item.id},#{item.dockerInfoId},#{item.memPer},#{item.createTime},#{item.cpuPer});
				 </foreach>
				 end;
			 </when>
			 <otherwise>
				 INSERT INTO DOCKER_STATE (ID, DOCKER_INFO_ID,MEM_PER,CREATE_TIME,CPU_PER)  VALUES
				 <foreach collection="list" item="item" index="index" separator="," >
					 (#{item.id},#{item.dockerInfoId},#{item.memPer},#{item.createTime},#{item.cpuPer})
				 </foreach>
			 </otherwise>
		 </choose>
	 </insert>
	 
	
	  <select id="selectAllByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM DOCKER_STATE t
		<where>
			<include refid="queryByParams" />
		</where>
		  ORDER BY CREATE_TIME ASC
	</select>
	
	<select id="selectByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM DOCKER_STATE 
		<where>
			<include refid="queryByParams" />
		</where>
		  ORDER BY CREATE_TIME DESC
	</select>
	
	
</mapper>