<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wgcloud.mapper.FileWarnStateMapper">
	<resultMap id="resultMap" type="com.wgcloud.entity.FileWarnState">
		<id column="ID" property="id" jdbcType="CHAR" />
		<result column="FILE_WARN_ID" property="fileWarnId" jdbcType="CHAR" />
		<result column="WAR_CONTENT" property="warContent" jdbcType="CHAR" />
		<result column="FILE_PATH" property="filePath" jdbcType="CHAR" />
		<result column="ROWS_GATHER_COUNT" property="rowsGatherCount" jdbcType="CHAR" />
		<result column="ROWS_COUNT" property="rowsCount" jdbcType="CHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="tableColumnList">
		ID,FILE_WARN_ID, FILE_PATH,WAR_CONTENT,CREATE_TIME,ROWS_GATHER_COUNT,ROWS_COUNT
	</sql>

	<sql id="queryByParams">
		<if test="fileWarnId != null">
			<![CDATA[ AND FILE_WARN_ID  = #{fileWarnId} ]]>
		</if>
		<if test="startTime != null and endTime !=null and startTime !='' and endTime != '' ">
			<include refid="commonSqlUtil.createTimeQueryParams" />
		</if>
	</sql>
	
	<select id="selectById" resultMap="resultMap" parameterType="java.lang.String">
		SELECT
		<include refid="tableColumnList" />
		FROM FILE_WARN_STATE 
		WHERE ID=#{id} 
	</select>
	
	
	<delete id="deleteByFileWarnId"  parameterType="java.lang.String">
		DELETE FROM FILE_WARN_STATE WHERE  FILE_WARN_ID  = #{fileWarnId}
	</delete>
	
	<delete id="deleteByDate"  parameterType="map">
		DELETE FROM FILE_WARN_STATE
		<where>
			<include refid="commonSqlUtil.createTimeDelParams" />
		</where>
	</delete>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM FILE_WARN_STATE 
		WHERE ID = #{id}
	</delete>
	
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM
		FILE_WARN_STATE 
		WHERE ID IN
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

		
	<insert id="save" parameterType="com.wgcloud.entity.FileWarnState">
		INSERT INTO FILE_WARN_STATE
    	<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="id != null" >ID,</if>
      		<if test="fileWarnId != null" >FILE_WARN_ID,</if>
      		<if test="warContent != null" >WAR_CONTENT,</if>
      		<if test="filePath != null" >FILE_PATH,</if>
			<if test="rowsGatherCount != null" >ROWS_GATHER_COUNT,</if>
			<if test="rowsCount != null" >ROWS_COUNT,</if>
      		<if test="createTime != null" >CREATE_TIME</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="id != null" >#{id},</if>
      		<if test="fileWarnId != null" >#{fileWarnId},</if>
      		<if test="warContent != null" >#{warContent},</if>
      		<if test="filePath != null" >#{filePath},</if>
			<if test="rowsGatherCount != null" >#{rowsGatherCount},</if>
			<if test="rowsCount != null" >#{rowsCount},</if>
      		<if test="createTime != null" >#{createTime}</if>
    	</trim>
	</insert>
	
	
	 <insert id="insertList" parameterType="java.util.List" >
		 <choose>
			 <when test="_databaseId == 'oracle'">
				 begin
				 <foreach collection="list" item="item" index="index">
					 INSERT INTO FILE_WARN_STATE (ID, FILE_WARN_ID, WAR_CONTENT,FILE_PATH,CREATE_TIME,ROWS_GATHER_COUNT,ROWS_COUNT)  VALUES
					 (#{item.id},#{item.fileWarnId},#{item.warContent},#{item.filePath},#{item.createTime},#{item.rowsGatherCount},#{item.rowsCount});
				 </foreach>
				 end;
			 </when>
			 <otherwise>
				 INSERT INTO FILE_WARN_STATE (ID, FILE_WARN_ID, WAR_CONTENT,FILE_PATH,CREATE_TIME,ROWS_GATHER_COUNT,ROWS_COUNT)  VALUES
				 <foreach collection="list" item="item" index="index" separator="," >
					 (#{item.id},#{item.fileWarnId},#{item.warContent},#{item.filePath},#{item.createTime},#{item.rowsGatherCount},#{item.rowsCount})
				 </foreach>
			 </otherwise>
		 </choose>
	 </insert>

	<select id="countByParams" parameterType="map" resultType="java.lang.Integer">
		SELECT count(*)  FROM FILE_WARN_STATE t
		<where>
			<if test="fileWarnId != null">
				<![CDATA[ AND FILE_WARN_ID  = #{fileWarnId} ]]>
			</if>
			<if test="startTime != null and endTime !=null and startTime !='' and endTime != '' ">
				<![CDATA[ AND CREATE_TIME >= #{startTime} and CREATE_TIME <=#{endTime}]]>
			</if>
		</where>
	</select>

	  <select id="selectAllByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM FILE_WARN_STATE t
		<where>
			<include refid="queryByParams" />
		</where>
		  ORDER BY CREATE_TIME ASC
	</select>
	
	<select id="selectByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM FILE_WARN_STATE 
		<where>
			<include refid="queryByParams" />
		</where>
		  ORDER BY CREATE_TIME DESC
	</select>
	
	
</mapper>