<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgcloud.mapper.FileSafeMapper">
	<resultMap id="resultMap" type="com.wgcloud.entity.FileSafe">
		<id column="ID" property="id" jdbcType="CHAR" />
		<result column="HOST_NAME" property="hostname" jdbcType="CHAR" />
		<result column="FILE_NAME" property="fileName" jdbcType="CHAR" />
		<result column="FILE_PATH" property="filePath" jdbcType="CHAR" />
		<result column="FILE_SIGN" property="fileSign" jdbcType="CHAR" />
		<result column="STATE" property="state" jdbcType="CHAR" />
		<result column="ACTIVE" property="active" jdbcType="CHAR" />
		<result column="FILE_MODTIME" property="fileModtime" jdbcType="CHAR" />
		<result column="WARN_LEVEL" property="warnLevel" jdbcType="CHAR" />
		<result column="GROUP_ID" property="groupId" jdbcType="CHAR" />
		<result column="FILE_IS_DIR" property="fileIsDir" jdbcType="CHAR" />
		<result column="CUSTOM_SHELL" property="customShell" jdbcType="CHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="tableColumnList">
		ID,HOST_NAME, FILE_NAME,FILE_PATH,FILE_SIGN,CREATE_TIME,STATE,ACTIVE,FILE_MODTIME,WARN_LEVEL,GROUP_ID,FILE_IS_DIR,CUSTOM_SHELL
	</sql>

	<sql id="queryByParams">
		<if test="hostname != null">
			<choose>
				<when test="_databaseId == 'oracle'">
					<![CDATA[ AND ( HOST_NAME  = #{hostname} OR FILE_NAME LIKE  CONCAT(CONCAT('%',#{hostname}),'%') )]]>
				</when>
				<otherwise>
					<![CDATA[ AND ( HOST_NAME  = #{hostname} OR FILE_NAME LIKE  CONCAT('%',#{hostname},'%') )]]>
				</otherwise>
			</choose>
		</if>
		<if test="state != null">
			<![CDATA[ AND STATE = #{state} ]]>
		</if>
		<if test="active != null">
			<![CDATA[ AND ACTIVE = #{active} ]]>
		</if>
		<if test="account != null">
			<include refid="commonSqlUtil.hostChildAccountQueryParams" />
		</if>
		<if test="groupId != null">
			<include refid="commonSqlUtil.groupIdQueryParams" />
		</if>
	</sql>
	
	
	<select id="selectById" resultMap="resultMap" parameterType="java.lang.String">
		SELECT
		<include refid="tableColumnList" />
		FROM FILE_SAFE 
		WHERE ID=#{id} 
	</select>
	
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM FILE_SAFE 
		WHERE ID = #{id}
	</delete>


	<delete id="deleteByHostName" parameterType="map">
		DELETE FROM FILE_SAFE WHERE <![CDATA[   HOST_NAME =#{hostname}]]>
	</delete>
	
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM
		FILE_SAFE 
		WHERE ID IN
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<update id="updateActive"  parameterType="map">
		UPDATE  FILE_SAFE SET ACTIVE = #{active} WHERE ID IN
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>

	<insert id="save" parameterType="com.wgcloud.entity.FileSafe">
		INSERT INTO FILE_SAFE 
    	<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="id != null" >ID,</if>
      		<if test="hostname != null" >HOST_NAME,</if>
      		<if test="fileName != null">FILE_NAME,</if>
			<if test="filePath != null">FILE_PATH,</if>
      		<if test="fileSign != null">FILE_SIGN,</if>
			<if test="state != null">STATE,</if>
			<if test="active != null">ACTIVE,</if>
			<if test="fileModtime != null">FILE_MODTIME,</if>
			<if test="warnLevel != null">WARN_LEVEL,</if>
			<if test="groupId != null">GROUP_ID,</if>
			<if test="fileIsDir != null">FILE_IS_DIR,</if>
			<if test="customShell != null">CUSTOM_SHELL,</if>
      		<if test="createTime != null" >CREATE_TIME</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="id != null" >#{id},</if>
      		<if test="hostname != null" >#{hostname},</if>
      		<if test="fileName != null" >#{fileName},</if>
			<if test="filePath != null" >#{filePath},</if>
      		<if test="fileSign != null" >#{fileSign},</if>
			<if test="state != null" >#{state},</if>
			<if test="active != null" >#{active},</if>
			<if test="fileModtime != null" >#{fileModtime},</if>
			<if test="warnLevel != null" >#{warnLevel},</if>
			<if test="groupId != null" >#{groupId},</if>
			<if test="fileIsDir != null" >#{fileIsDir},</if>
			<if test="customShell != null" >#{customShell},</if>
      		<if test="createTime != null" >#{createTime}</if>
    	</trim>
	</insert>

	<insert id="insertList" parameterType="java.util.List" >
		<choose>
			<when test="_databaseId == 'oracle'">
				begin
				<foreach collection="list" item="item" index="index">
					INSERT INTO FILE_SAFE (ID,HOST_NAME, FILE_NAME,FILE_PATH,FILE_SIGN,CREATE_TIME,STATE,ACTIVE,FILE_MODTIME,WARN_LEVEL,GROUP_ID,FILE_IS_DIR)  VALUES
					(#{item.id},#{item.hostname},#{item.fileName},#{item.filePath},#{item.fileSign},#{item.createTime},#{item.state},#{item.active},#{item.fileModtime},#{item.warnLevel},#{item.groupId},#{item.fileIsDir});
				</foreach>
				end;
			</when>
			<otherwise>
				INSERT INTO FILE_SAFE (ID,HOST_NAME, FILE_NAME,FILE_PATH,FILE_SIGN,CREATE_TIME,STATE,ACTIVE,FILE_MODTIME,WARN_LEVEL,GROUP_ID,FILE_IS_DIR)  VALUES
				<foreach collection="list" item="item" index="index" separator="," >
					(#{item.id},#{item.hostname},#{item.fileName},#{item.filePath},#{item.fileSign},#{item.createTime},#{item.state},#{item.active},#{item.fileModtime},#{item.warnLevel},#{item.groupIdl},#{item.fileIsDir})
				</foreach>
			</otherwise>
		</choose>
	</insert>

	<update id="downByHostName" parameterType="java.util.List">
		UPDATE  FILE_SAFE SET STATE = '2'
		WHERE HOST_NAME IN
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>

	<update id="updateList" parameterType="java.util.List" >
		<if test="_databaseId == 'oracle'">
			begin
		</if>
		<foreach collection="list" item="item" index="index">
			UPDATE FILE_SAFE
			<set>
				<if test="item.hostname != null">
					HOST_NAME = #{item.hostname},
				</if>
				<if test="item.fileName != null">
					FILE_NAME = #{item.fileName},
				</if>
				<if test="item.filePath != null">
					FILE_PATH = #{item.filePath},
				</if>
				<if test="item.fileSign != null">
					FILE_SIGN = #{item.fileSign},
				</if>
				<if test="item.state != null">
					STATE = #{item.state},
				</if>
				<if test="item.active != null">
					ACTIVE = #{item.active},
				</if>
				<if test="item.fileModtime != null">
					FILE_MODTIME = #{item.fileModtime},
				</if>
				<if test="item.warnLevel != null">
					WARN_LEVEL = #{item.warnLevel},
				</if>
				<if test="item.createTime != null" >
					CREATE_TIME= #{item.createTime}
				</if>
			</set>
			WHERE ID = #{item.id};
		</foreach>
		<if test="_databaseId == 'oracle'">
			end;
		</if>
	</update>
	
	
	<update id="updateById" parameterType="com.wgcloud.entity.FileSafe">
		UPDATE FILE_SAFE
		<set>
			<if test="hostname != null">
				HOST_NAME = #{hostname},
			</if>
			<if test="fileName != null">
				FILE_NAME = #{fileName},
			</if>
			<if test="filePath != null">
				FILE_PATH = #{filePath},
			</if>
			<if test="fileSign != null">
				FILE_SIGN = #{fileSign},
			</if>
			<if test="state != null">
				STATE = #{state},
			</if>
			<if test="active != null">
				ACTIVE = #{active},
			</if>
			<if test="fileModtime != null">
				FILE_MODTIME = #{fileModtime},
			</if>
			<if test="warnLevel != null">
				WARN_LEVEL = #{warnLevel},
			</if>
			<if test="fileIsDir != null">
				FILE_IS_DIR = #{fileIsDir},
			</if>
			<if test="groupId != null">
				GROUP_ID = #{groupId},
			</if>
			<if test="customShell != null">
				CUSTOM_SHELL = #{customShell},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime}
			</if>
		</set>
		WHERE ID = #{id}
	</update>

	<select id="countByParams" parameterType="map" resultType="java.lang.Integer">
		SELECT count(*)  FROM FILE_SAFE t
		<where>
			<include refid="queryByParams" />
		</where>
	</select>


	<select id="selectAllByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM FILE_SAFE t
		<where>
			<include refid="queryByParams" />
		</where>
		 ORDER BY ID DESC
	</select>
	
	<select id="selectByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM FILE_SAFE
		<where>
			<include refid="queryByParams" />
		</where>
		<choose>
			<when test="orderBy !=null and orderBy != ''">
				<![CDATA[ ORDER BY ${orderBy} ${orderType}]]>
			</when>
			<otherwise>
				ORDER BY ID DESC
			</otherwise>
		</choose>
	</select>
	
	
</mapper>