<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgcloud.mapper.FtpInfoMapper">
	<resultMap id="resultMap" type="com.wgcloud.entity.FtpInfo">
		<id column="ID" property="id" jdbcType="CHAR" />
		<result column="FTP_HOST" property="ftpHost" jdbcType="CHAR" />
		<result column="USER_NAME" property="userName" jdbcType="CHAR" />
		<result column="PASSWD" property="passwd" jdbcType="CHAR" />
		<result column="PORT" property="port" jdbcType="CHAR" />
		<result column="WARN_TYPE" property="warnType" jdbcType="CHAR" />
		<result column="STATE" property="state" jdbcType="CHAR" />
		<result column="ACTIVE" property="active" jdbcType="CHAR" />
		<result column="ACCOUNT" property="account" jdbcType="CHAR" />
		<result column="FTP_NAME" property="ftpName" jdbcType="CHAR" />
		<result column="FTP_TYPE" property="ftpType" jdbcType="CHAR" />
		<result column="RES_TIMES" property="resTimes" jdbcType="INTEGER" />
		<result column="WARN_LEVEL" property="warnLevel" jdbcType="CHAR" />
		<result column="GROUP_ID" property="groupId" jdbcType="CHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="tableColumnList">
		ID,FTP_HOST, USER_NAME,PASSWD,CREATE_TIME,STATE,ACTIVE,PORT,WARN_TYPE,ACCOUNT,FTP_NAME,RES_TIMES,FTP_TYPE,WARN_LEVEL,GROUP_ID
	</sql>

	<sql id="queryByParams">
		<if test="ftpHost != null">
			<choose>
				<when test="_databaseId == 'oracle'">
					<![CDATA[ AND ( FTP_HOST LIKE   CONCAT(CONCAT('%',#{ftpHost}),'%') OR FTP_HOST LIKE   CONCAT(CONCAT('%',#{ftpHost}),'%') )]]>
				</when>
				<otherwise>
					<![CDATA[ AND ( FTP_HOST LIKE  CONCAT('%',#{ftpHost},'%') OR FTP_HOST LIKE  CONCAT('%',#{ftpHost},'%') )]]>
				</otherwise>
			</choose>
		</if>
		<if test="state != null">
			<![CDATA[ AND STATE = #{state} ]]>
		</if>
		<if test="active != null">
			<![CDATA[ AND ACTIVE = #{active} ]]>
		</if>
		<if test="account != null">
			<![CDATA[ AND ACCOUNT= #{account} ]]>
		</if>
		<if test="ftpNames != null">
			<![CDATA[ AND FTP_NAME IN ]]>
			<foreach item="item" index="index" collection="ftpNames" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="groupId != null">
			<include refid="commonSqlUtil.groupIdQueryParams" />
		</if>
	</sql>
	
	
	<select id="selectById" resultMap="resultMap" parameterType="java.lang.String">
		SELECT
		<include refid="tableColumnList" />
		FROM FTP_INFO 
		WHERE ID=#{id} 
	</select>

	<update id="updateToTargetAccount"  parameterType="map">
		UPDATE  FTP_INFO SET ACCOUNT = #{accountTarget}
		<where>
			<include refid="commonSqlUtil.updateToTargetAccountQueryParams" />
		</where>
	</update>

	<update id="updateActive"  parameterType="map">
		UPDATE  FTP_INFO SET ACTIVE = #{active} WHERE ID IN
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM FTP_INFO 
		WHERE ID = #{id}
	</delete>


	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM
		FTP_INFO 
		WHERE ID IN
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<insert id="save" parameterType="com.wgcloud.entity.FtpInfo">
		INSERT INTO FTP_INFO 
    	<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="id != null" >ID,</if>
      		<if test="ftpHost != null" >FTP_HOST,</if>
      		<if test="userName != null">USER_NAME,</if>
      		<if test="passwd != null">PASSWD,</if>
			<if test="port != null">PORT,</if>
			<if test="warnType != null">WARN_TYPE,</if>
			<if test="state != null">STATE,</if>
			<if test="active != null">ACTIVE,</if>
			<if test="account != null">ACCOUNT,</if>
			<if test="ftpName != null">FTP_NAME,</if>
			<if test="resTimes != null">RES_TIMES,</if>
			<if test="ftpType != null">FTP_TYPE,</if>
			<if test="warnLevel != null">WARN_LEVEL,</if>
			<if test="groupId != null">GROUP_ID,</if>
      		<if test="createTime != null" >CREATE_TIME</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="id != null" >#{id},</if>
      		<if test="ftpHost != null" >#{ftpHost},</if>
      		<if test="userName != null" >#{userName},</if>
      		<if test="passwd != null" >#{passwd},</if>
			<if test="port != null" >#{port},</if>
			<if test="warnType != null" >#{warnType},</if>
			<if test="state != null" >#{state},</if>
			<if test="active != null" >#{active},</if>
			<if test="account != null" >#{account},</if>
			<if test="ftpName != null" >#{ftpName},</if>
			<if test="resTimes != null" >#{resTimes},</if>
			<if test="ftpType != null" >#{ftpType},</if>
			<if test="warnLevel != null" >#{warnLevel},</if>
			<if test="groupId != null" >#{groupId},</if>
      		<if test="createTime != null" >#{createTime}</if>
    	</trim>
	</insert>

	<insert id="insertList" parameterType="java.util.List" >
		<choose>
			<when test="_databaseId == 'oracle'">
				begin
				<foreach collection="list" item="item" index="index">
					INSERT INTO FTP_INFO (ID,FTP_HOST, USER_NAME,PASSWD,CREATE_TIME,STATE,ACTIVE,PORT,WARN_TYPE,ACCOUNT,FTP_NAME,RES_TIMES,FTP_TYPE,WARN_LEVEL,GROUP_ID)  VALUES
					(#{item.id},#{item.ftpHost},#{item.userName},#{item.passwd},#{item.createTime},#{item.state},#{item.active},#{item.port},#{item.warnType},#{item.account},#{item.ftpName},#{item.resTimes},#{item.ftpType},#{item.warnLevel},#{item.groupId});
				</foreach>
				end;
			</when>
			<otherwise>
				INSERT INTO FTP_INFO (ID,FTP_HOST, USER_NAME,PASSWD,CREATE_TIME,STATE,ACTIVE,PORT,WARN_TYPE,ACCOUNT,FTP_NAME,RES_TIMES,FTP_TYPE,WARN_LEVEL,GROUP_ID)  VALUES
				<foreach collection="list" item="item" index="index" separator="," >
					(#{item.id},#{item.ftpHost},#{item.userName},#{item.passwd},#{item.createTime},#{item.state},#{item.active},#{item.port},#{item.warnType},#{item.account},#{item.ftpName},#{item.resTimes},#{item.ftpType},#{item.warnLevel},#{item.groupId})
				</foreach>
			</otherwise>
		</choose>
	</insert>


	<update id="updateList" parameterType="java.util.List" >
		<if test="_databaseId == 'oracle'">
			begin
		</if>
		<foreach collection="list" item="item" index="index" >
			UPDATE FTP_INFO
			<set>
				<if test="item.ftpHost != null">
					FTP_HOST = #{item.ftpHost},
				</if>
				<if test="item.userName != null">
					USER_NAME = #{item.userName},
				</if>
				<if test="item.passwd != null">
					PASSWD = #{item.passwd},
				</if>
				<if test="item.port != null">
					PORT = #{item.port},
				</if>
				<if test="item.warnType != null">
					WARN_TYPE = #{item.warnType},
				</if>
				<if test="item.state != null">
					STATE = #{item.state},
				</if>
				<if test="item.active != null">
					ACTIVE = #{item.active},
				</if>
				<if test="item.account != null">
					ACCOUNT = #{item.account},
				</if>
				<if test="item.ftpName != null">
					FTP_NAME = #{item.ftpName},
				</if>
				<if test="item.resTimes != null" >
					RES_TIMES= #{item.resTimes},
				</if>
				<if test="item.ftpType != null" >
					FTP_TYPE= #{item.ftpType},
				</if>
				<if test="item.warnLevel != null" >
					WARN_LEVEL= #{item.warnLevel},
				</if>
				<if test="item.groupId != null">
					GROUP_ID = #{item.groupId},
				</if>
				<if test="item.createTime != null" >
					CREATE_TIME= #{item.createTime}
				</if>
			</set>
			WHERE ID = #{item.id};
		</foreach>
		<if test="_databaseId == 'oracle'">
			end;
		</if>
	</update>
	
	
	<update id="updateById" parameterType="com.wgcloud.entity.FtpInfo">
		UPDATE FTP_INFO
		<set>
			<if test="ftpHost != null">
				FTP_HOST = #{ftpHost},
			</if>
			<if test="userName != null">
				USER_NAME = #{userName},
			</if>
			<if test="passwd != null">
				PASSWD = #{passwd},
			</if>
			<if test="port != null">
				PORT = #{port},
			</if>
			<if test="warnType != null">
				WARN_TYPE = #{warnType},
			</if>
			<if test="state != null">
				STATE = #{state},
			</if>
			<if test="active != null">
				ACTIVE = #{active},
			</if>
			<if test="account != null">
				ACCOUNT = #{account},
			</if>
			<if test="ftpName != null">
				FTP_NAME = #{ftpName},
			</if>
			<if test="resTimes != null">
				RES_TIMES = #{resTimes},
			</if>
			<if test="ftpType != null">
				FTP_TYPE = #{ftpType},
			</if>
			<if test="warnLevel != null">
				WARN_LEVEL = #{warnLevel},
			</if>
			<if test="groupId != null">
				GROUP_ID = #{groupId},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime}
			</if>
		</set>
		WHERE ID = #{id}
	</update>

	<select id="countByParams" parameterType="map" resultType="java.lang.Integer">
		SELECT count(*)  FROM FTP_INFO t
		<where>
			<include refid="queryByParams" />
		</where>
	</select>


	<select id="selectAllByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM FTP_INFO t
		<where>
			<include refid="queryByParams" />
		</where>
		 ORDER BY ID DESC
	</select>
	
	<select id="selectByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM FTP_INFO
		<where>
			<include refid="queryByParams" />
		</where>
		<choose>
			<when test="orderBy !=null and orderBy != ''">
				<![CDATA[ ORDER BY ${orderBy} ${orderType}]]>
			</when>
			<otherwise>
				ORDER BY ID DESC
			</otherwise>
		</choose>
	</select>
	
	
</mapper>