<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgcloud.mapper.HeathMonitorMapper">
	<resultMap id="resultMap" type="com.wgcloud.entity.HeathMonitor">
		<id column="ID" property="id" jdbcType="CHAR" />
		<result column="APP_NAME" property="appName" jdbcType="CHAR" />
		<result column="HEATH_URL" property="heathUrl" jdbcType="CHAR" />
		<result column="HEATH_STATUS" property="heathStatus" jdbcType="CHAR" />
		<result column="RES_TIMES" property="resTimes" jdbcType="INTEGER" />
		<result column="ACTIVE" property="active" jdbcType="CHAR" />
		<result column="RES_KEYWORD" property="resKeyword" jdbcType="CHAR" />
		<result column="RES_NO_KEYWORD" property="resNoKeyword" jdbcType="CHAR" />
		<result column="METHOD" property="method" jdbcType="CHAR" />
		<result column="POST_STR" property="postStr" jdbcType="CHAR" />
		<result column="HEADER_JSON" property="headerJson" jdbcType="CHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="ACCOUNT" property="account" jdbcType="CHAR" />
		<result column="RESPONSE_BODY_SIZE" property="responseBodySize" jdbcType="CHAR" />
		<result column="FORM_JSON" property="formJson" jdbcType="CHAR" />
		<result column="WARN_LEVEL" property="warnLevel" jdbcType="CHAR" />
		<result column="GROUP_ID" property="groupId" jdbcType="CHAR" />
		<result column="ERROR_MSG" property="errorMsg" jdbcType="CHAR" />
	</resultMap>
	
	<sql id="tableColumnList">
		ID,APP_NAME, HEATH_URL,HEATH_STATUS,CREATE_TIME,RES_TIMES,ACTIVE,RES_KEYWORD,RES_NO_KEYWORD,METHOD,POST_STR,HEADER_JSON,ACCOUNT,RESPONSE_BODY_SIZE,FORM_JSON,ERROR_MSG,WARN_LEVEL,GROUP_ID
	</sql>

	<sql id="queryByParams">
		<if test="appName != null">
			<choose>
				<when test="_databaseId == 'oracle'">
					<![CDATA[ AND APP_NAME LIKE  CONCAT(CONCAT('%',#{appName}),'%') ]]>
				</when>
				<otherwise>
					<![CDATA[ AND APP_NAME LIKE  CONCAT('%',#{appName},'%') ]]>
				</otherwise>
			</choose>
		</if>
		<if test="heathStatus != null">
			<![CDATA[ AND HEATH_STATUS = #{heathStatus} ]]>
		</if>
		<if test="active != null">
			<![CDATA[ AND ACTIVE = #{active} ]]>
		</if>
		<if test="account != null">
			<![CDATA[ AND ACCOUNT = #{account} ]]>
		</if>
		<if test="heathNames != null">
			<![CDATA[ AND APP_NAME IN ]]>
			<foreach item="item" index="index" collection="heathNames" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="groupId != null">
			<include refid="commonSqlUtil.groupIdQueryParams" />
		</if>
	</sql>

	<select id="selectById" resultMap="resultMap" parameterType="java.lang.String">
		SELECT
		<include refid="tableColumnList" />
		FROM HEATH_MONITOR 
		WHERE ID=#{id} 
	</select>
	
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM HEATH_MONITOR 
		WHERE ID = #{id}
	</delete>

	<update id="updateToTargetAccount"  parameterType="map">
		UPDATE  HEATH_MONITOR SET ACCOUNT = #{accountTarget}
		<where>
			<include refid="commonSqlUtil.updateToTargetAccountQueryParams" />
		</where>
	</update>

	<update id="updateActive"  parameterType="map">
		UPDATE  HEATH_MONITOR SET ACTIVE = #{active} WHERE ID IN
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>

	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM
		HEATH_MONITOR 
		WHERE ID IN
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<insert id="save" parameterType="com.wgcloud.entity.HeathMonitor">
		INSERT INTO HEATH_MONITOR 
    	<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="id != null" >ID,</if>
      		<if test="appName != null">APP_NAME,</if>
			<if test="heathUrl != null">HEATH_URL,</if>
			<if test="heathStatus != null">HEATH_STATUS,</if>
			<if test="resTimes != null">RES_TIMES,</if>
			<if test="active != null">ACTIVE,</if>
			<if test="resKeyword != null">RES_KEYWORD,</if>
			<if test="resNoKeyword != null">RES_NO_KEYWORD,</if>
			<if test="method != null">METHOD,</if>
			<if test="postStr != null">POST_STR,</if>
			<if test="headerJson != null">HEADER_JSON,</if>
			<if test="account != null">ACCOUNT,</if>
			<if test="responseBodySize != null">RESPONSE_BODY_SIZE,</if>
			<if test="formJson != null">FORM_JSON,</if>
			<if test="errorMsg != null">ERROR_MSG,</if>
			<if test="warnLevel != null">WARN_LEVEL,</if>
			<if test="groupId != null">GROUP_ID,</if>
      		<if test="createTime != null" >CREATE_TIME</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="id != null" >#{id},</if>
      		<if test="appName != null" >#{appName},</if>
			<if test="heathUrl != null" >#{heathUrl},</if>
			<if test="heathStatus != null" >#{heathStatus},</if>
			<if test="resTimes != null" >#{resTimes},</if>
			<if test="active != null" >#{active},</if>
			<if test="resKeyword != null" >#{resKeyword},</if>
			<if test="resNoKeyword != null" >#{resNoKeyword},</if>
			<if test="method != null" >#{method},</if>
			<if test="postStr != null" >#{postStr},</if>
			<if test="headerJson != null" >#{headerJson},</if>
			<if test="account != null" >#{account},</if>
			<if test="responseBodySize != null" >#{responseBodySize},</if>
			<if test="formJson != null" >#{formJson},</if>
			<if test="errorMsg != null" >#{errorMsg},</if>
			<if test="warnLevel != null" >#{warnLevel},</if>
			<if test="groupId != null" >#{groupId},</if>
      		<if test="createTime != null" >#{createTime}</if>
    	</trim>
	</insert>

	<insert id="insertList" parameterType="java.util.List" >
		<choose>
			<when test="_databaseId == 'oracle'">
				begin
				<foreach collection="list" item="item" index="index">
					INSERT INTO HEATH_MONITOR (ID,APP_NAME,HEATH_URL,HEATH_STATUS,CREATE_TIME,RES_TIMES,ACTIVE,RES_KEYWORD,RES_NO_KEYWORD,METHOD,POST_STR,HEADER_JSON,ACCOUNT,RESPONSE_BODY_SIZE,FORM_JSON,ERROR_MSG,WARN_LEVEL,GROUP_ID)  VALUES
					(#{item.id},#{item.appName},#{item.heathUrl},#{item.heathStatus},#{item.createTime},#{item.resTimes},#{item.active},#{item.resKeyword},#{resNoKeyword},#{item.method},#{item.postStr},#{item.headerJson},#{item.account},#{item.responseBodySize},#{item.formJson},#{item.errorMsg},#{item.warnLevel},#{item.groupId});
				</foreach>
				end;
			</when>
			<otherwise>
				INSERT INTO HEATH_MONITOR (ID,APP_NAME,HEATH_URL,HEATH_STATUS,CREATE_TIME,RES_TIMES,ACTIVE,RES_KEYWORD,RES_NO_KEYWORD,METHOD,POST_STR,HEADER_JSON,ACCOUNT,RESPONSE_BODY_SIZE,FORM_JSON,ERROR_MSG,WARN_LEVEL,GROUP_ID)  VALUES
				<foreach collection="list" item="item" index="index" separator="," >
					(#{item.id},#{item.appName},#{item.heathUrl},#{item.heathStatus},#{item.createTime},#{item.resTimes},#{item.active},#{item.resKeyword},#{resNoKeyword},#{item.method},#{item.postStr},#{item.headerJson},#{item.account},#{item.responseBodySize},#{item.formJson},#{item.errorMsg},#{item.warnLevel},#{item.groupId})
				</foreach>
			</otherwise>
		</choose>
	</insert>


	<update id="updateList" parameterType="java.util.List" >
		<if test="_databaseId == 'oracle'">
			begin
		</if>
		<foreach collection="list" item="item" index="index">
			UPDATE HEATH_MONITOR
			<set>
				<if test="item.appName != null">
					APP_NAME = #{item.appName},
				</if>
				<if test="item.heathUrl != null">
					HEATH_URL= #{item.heathUrl},
				</if>
				<if test="item.heathStatus != null" >
					HEATH_STATUS= #{item.heathStatus},
				</if>
				<if test="item.resTimes != null" >
					RES_TIMES= #{item.resTimes},
				</if>
				<if test="item.active != null" >
					ACTIVE= #{item.active},
				</if>
				<if test="item.resKeyword != null" >
					RES_KEYWORD= #{item.resKeyword},
				</if>
				<if test="item.resNoKeyword != null" >
					RES_NO_KEYWORD= #{item.resNoKeyword},
				</if>
				<if test="item.method != null" >
					METHOD= #{item.method},
				</if>
				<if test="item.postStr != null" >
					POST_STR= #{item.postStr},
				</if>
				<if test="item.headerJson != null" >
					HEADER_JSON= #{item.headerJson},
				</if>
				<if test="item.responseBodySize != null" >
					RESPONSE_BODY_SIZE= #{item.responseBodySize},
				</if>
				<if test="item.formJson != null" >
					FORM_JSON= #{item.formJson},
				</if>
				<if test="item.errorMsg != null" >
					ERROR_MSG= #{item.errorMsg},
				</if>
				<if test="item.warnLevel != null" >
					WARN_LEVEL= #{item.warnLevel},
				</if>
				<if test="item.groupId != null" >
					GROUP_ID= #{item.groupId},
				</if>
				<if test="item.createTime != null" >
					CREATE_TIME= #{item.createTime},
				</if>
			</set>
			WHERE ID = #{item.id};
		</foreach>
		<if test="_databaseId == 'oracle'">
			end;
		</if>
	</update>


	<update id="updateById" parameterType="com.wgcloud.entity.HeathMonitor">
		UPDATE HEATH_MONITOR
		<set>
			<if test="appName != null">
				APP_NAME = #{appName},
			</if>
			<if test="heathUrl != null">
				HEATH_URL = #{heathUrl},
			</if>
			<if test="heathStatus != null">
				HEATH_STATUS = #{heathStatus},
			</if>
			<if test="resTimes != null">
				RES_TIMES = #{resTimes},
			</if>
			<if test="active != null">
				ACTIVE = #{active},
			</if>
			<if test="resKeyword != null">
				RES_KEYWORD = #{resKeyword},
			</if>
			<if test="resNoKeyword != null">
				RES_NO_KEYWORD = #{resNoKeyword},
			</if>
			<if test="method != null">
				METHOD = #{method},
			</if>
			<if test="postStr != null">
				POST_STR = #{postStr},
			</if>
			<if test="headerJson != null">
				HEADER_JSON = #{headerJson},
			</if>
			<if test="responseBodySize != null">
				RESPONSE_BODY_SIZE = #{responseBodySize},
			</if>
			<if test="formJson != null">
				FORM_JSON = #{formJson},
			</if>
			<if test="errorMsg != null">
				ERROR_MSG = #{errorMsg},
			</if>
			<if test="warnLevel != null">
				WARN_LEVEL = #{warnLevel},
			</if>
			<if test="groupId != null">
				GROUP_ID = #{groupId},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime}
			</if>
		</set>
		WHERE ID = #{id}
	</update>

	<select id="countByParams" parameterType="map" resultType="java.lang.Integer">
		SELECT count(*)  FROM HEATH_MONITOR t
		<where>
			<include refid="queryByParams" />
		</where>
	</select>


	<select id="selectAllByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM HEATH_MONITOR t
		<where>
			<include refid="queryByParams" />
		</where>
		 ORDER BY ID DESC
	</select>
	
	<select id="selectByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM HEATH_MONITOR
		<where>
			<include refid="queryByParams" />
		</where>
		<choose>
			<when test="orderBy !=null and orderBy != ''">
				<![CDATA[ ORDER BY ${orderBy} ${orderType}]]>
			</when>
			<otherwise>
				ORDER BY ID DESC
			</otherwise>
		</choose>
	</select>

	<select id="selectByParamsNoContent" parameterType="map" resultMap="resultMap">
		SELECT
		ID,APP_NAME, HEATH_URL,HEATH_STATUS,CREATE_TIME,RES_TIMES,ACTIVE,RES_KEYWORD,RES_NO_KEYWORD,METHOD,ACCOUNT,RESPONSE_BODY_SIZE,ERROR_MSG,WARN_LEVEL,GROUP_ID
		FROM HEATH_MONITOR
		<where>
			<include refid="queryByParams" />
		</where>
		<choose>
			<when test="orderBy !=null and orderBy != ''">
				<![CDATA[ ORDER BY ${orderBy} ${orderType}]]>
			</when>
			<otherwise>
				ORDER BY ID DESC
			</otherwise>
		</choose>
	</select>
	
</mapper>