<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wgcloud.mapper.HostUsersMapper">
	<resultMap id="resultMap" type="com.wgcloud.entity.HostUsers">
		<id column="ID" property="id" jdbcType="CHAR" />
		<result column="HOST_NAME" property="hostname" jdbcType="CHAR" />
		<result column="HOST_USER" property="hostUser" jdbcType="CHAR" />
		<result column="LAST_LOGIN_IP" property="lastLoginIp" jdbcType="CHAR" />
		<result column="LAST_LOGIN_TIME" property="lastLoginTime" jdbcType="CHAR" />
		<result column="TERMINAL" property="terminal" jdbcType="CHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="tableColumnList">
		ID,HOST_NAME, HOST_USER,CREATE_TIME,LAST_LOGIN_IP,LAST_LOGIN_TIME,TERMINAL
	</sql>
	
	<sql id="queryByParams">
		<if test="hostname != null">
			<![CDATA[ AND HOST_NAME = #{hostname} ]]>
		</if>
	</sql>

	<insert id="insertList" parameterType="java.util.List" >
		<choose>
			<when test="_databaseId == 'oracle'">
				begin
				<foreach collection="list" item="item" index="index">
					INSERT INTO HOST_USERS (ID,HOST_NAME, HOST_USER,CREATE_TIME,LAST_LOGIN_IP,LAST_LOGIN_TIME,TERMINAL)  VALUES
					(#{item.id},#{item.hostname},#{item.hostUser},#{item.createTime},#{item.lastLoginIp},#{item.lastLoginTime},#{item.terminal});
				</foreach>
				end;
			</when>
			<otherwise>
				INSERT INTO HOST_USERS (ID,HOST_NAME, HOST_USER,CREATE_TIME,LAST_LOGIN_IP,LAST_LOGIN_TIME,TERMINAL)  VALUES
				<foreach collection="list" item="item" index="index" separator="," >
					(#{item.id},#{item.hostname},#{item.hostUser},#{item.createTime},#{item.lastLoginIp},#{item.lastLoginTime},#{item.terminal})
				</foreach>
			</otherwise>
		</choose>
	</insert>

	<select id="selectById" resultMap="resultMap" parameterType="java.lang.String">
		SELECT
		<include refid="tableColumnList" />
		FROM HOST_USERS
		WHERE ID=#{id} 
	</select>
	
	
	<delete id="deleteByDate"  parameterType="map">
		DELETE FROM HOST_USERS
		<where>
			<include refid="commonSqlUtil.createTimeDelParams" />
		</where>
	</delete>
	
	<delete id="deleteByAccHname"  parameterType="java.util.List">
			DELETE FROM HOST_USERS WHERE  HOST_NAME  IN
			<foreach item="item" collection="list" open="(" separator="," close=")">
				#{item}
			</foreach>
	</delete>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM HOST_USERS WHERE ID = #{id}
	</delete>
	
	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM
		HOST_USERS
		WHERE ID IN
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<insert id="save" parameterType="com.wgcloud.entity.DiskState">
		INSERT INTO HOST_USERS
    	<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="id != null" >ID,</if>
      		<if test="hostname != null" > HOST_NAME,</if>
      		<if test="hostUser != null">HOST_USER,</if>
			<if test="lastLoginIp != null" >LAST_LOGIN_IP,</if>
			<if test="lastLoginTime != null" >LAST_LOGIN_TIME,</if>
			<if test="terminal != null" >TERMINAL,</if>
      		<if test="createTime != null" >CREATE_TIME</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="id != null" >#{id},</if>
      		<if test="hostname != null" >#{hostname},</if>
      		<if test="hostUser != null" >#{hostUser},</if>
			<if test="lastLoginIp != null" >#{lastLoginIp},</if>
			<if test="lastLoginTime != null" >#{lastLoginTime},</if>
			<if test="terminal != null" >#{terminal},</if>
      		<if test="createTime != null" >#{createTime}</if>
    	</trim>
	</insert>
	
	
	  <select id="selectAllByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM HOST_USERS t
		<where>
			<include refid="queryByParams" />
		</where>
		 ORDER BY ID ASC
	</select>
	
	<select id="selectByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM HOST_USERS
		<where>
			<include refid="queryByParams" />
		</where>
		 ORDER BY ID ASC
	</select>
	
</mapper>