<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wgcloud.mapper.SnmpDeepInfoMapper">
	<resultMap id="resultMap" type="com.wgcloud.entity.SnmpDeepInfo">
		<id column="ID" property="id" jdbcType="CHAR" />
		<result column="HOST_NAME" property="hostname" jdbcType="CHAR" />
		<result column="STATE" property="state" jdbcType="CHAR" />
		<result column="ACTIVE" property="active" jdbcType="CHAR" />
		<result column="REMARK" property="remark" jdbcType="CHAR" />
		<result column="SNMP_COMMUNITY" property="snmpCommunity" jdbcType="CHAR" />
		<result column="SNMP_PORT" property="snmpPort" jdbcType="CHAR" />
		<result column="SNMP_VERSION" property="snmpVersion" jdbcType="CHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="ACCOUNT" property="account" jdbcType="CHAR" />
		<result column="GROUP_ID" property="groupId" jdbcType="CHAR" />
		<result column="WARN_LEVEL" property="warnLevel" jdbcType="CHAR" />
		<result column="SECURITY_NAME" property="securityName" jdbcType="CHAR" />
		<result column="AUTH_PASS" property="authPass" jdbcType="CHAR" />
		<result column="PRIV_PASS" property="privPass" jdbcType="CHAR" />
	</resultMap>

	<sql id="tableColumnList">
		ID,HOST_NAME,CREATE_TIME,STATE,ACTIVE,REMARK,SNMP_COMMUNITY,SNMP_PORT,SNMP_VERSION,ACCOUNT,WARN_LEVEL,GROUP_ID,SECURITY_NAME,AUTH_PASS,PRIV_PASS
	</sql>

	<sql id="queryByParams">
		<if test="hostname != null">
			<choose>
				<when test="_databaseId == 'oracle'">
					<![CDATA[ AND ( HOST_NAME  = #{hostname} OR REMARK LIKE   CONCAT(CONCAT('%',#{hostname}),'%') )]]>
				</when>
				<otherwise>
					<![CDATA[ AND ( HOST_NAME  = #{hostname} OR REMARK LIKE  CONCAT('%',#{hostname},'%') )]]>
				</otherwise>
			</choose>
		</if>
		<if test="state != null">
			<![CDATA[ AND STATE = #{state} ]]>
		</if>
		<if test="active != null">
			<![CDATA[ AND ACTIVE = #{active} ]]>
		</if>
		<if test="account != null">
			<![CDATA[ AND ACCOUNT = #{account} ]]>
		</if>
		<if test="snmpHostNames != null">
			<![CDATA[ AND HOST_NAME IN ]]>
			<foreach item="item" index="index" collection="snmpHostNames" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="groupId != null">
			<include refid="commonSqlUtil.groupIdQueryParams" />
		</if>
	</sql>


	<select id="selectById" resultMap="resultMap" parameterType="java.lang.String">
		SELECT
		<include refid="tableColumnList" />
		FROM SNMP_DEEP_INFO
		WHERE ID=#{id}
	</select>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		DELETE FROM SNMP_DEEP_INFO
		WHERE ID = #{id}
	</delete>

	<update id="updateToTargetAccount"  parameterType="map">
		UPDATE  SNMP_DEEP_INFO SET ACCOUNT = #{accountTarget}
		<where>
			<include refid="commonSqlUtil.updateToTargetAccountQueryParams" />
		</where>
	</update>


	<delete id="deleteById" parameterType="java.lang.String">
		DELETE FROM
		SNMP_DEEP_INFO
		WHERE ID IN
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<update id="updateActive"  parameterType="map">
		UPDATE  SNMP_DEEP_INFO SET ACTIVE = #{active} WHERE ID IN
		<foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>

	<insert id="save" parameterType="com.wgcloud.entity.SnmpDeepInfo">
		INSERT INTO SNMP_DEEP_INFO
    	<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="id != null" >ID,</if>
      		<if test="hostname != null" >HOST_NAME,</if>
			<if test="state != null">STATE,</if>
			<if test="active != null">ACTIVE,</if>
			<if test="remark != null">REMARK,</if>
			<if test="snmpCommunity != null">SNMP_COMMUNITY,</if>
			<if test="snmpPort != null">SNMP_PORT,</if>
			<if test="snmpVersion != null">SNMP_VERSION,</if>
			<if test="account != null">ACCOUNT,</if>
			<if test="warnLevel != null">WARN_LEVEL,</if>
			<if test="groupId != null">GROUP_ID,</if>
			<if test="securityName != null">SECURITY_NAME,</if>
			<if test="authPass != null">AUTH_PASS,</if>
			<if test="privPass != null">PRIV_PASS,</if>
      		<if test="createTime != null" >CREATE_TIME</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="id != null" >#{id},</if>
      		<if test="hostname != null" >#{hostname},</if>
			<if test="state != null" >#{state},</if>
			<if test="active != null" >#{active},</if>
			<if test="remark != null" >#{remark},</if>
			<if test="snmpCommunity != null" >#{snmpCommunity},</if>
			<if test="snmpPort != null" >#{snmpPort},</if>
			<if test="snmpVersion != null" >#{snmpVersion},</if>
			<if test="account != null" >#{account},</if>
			<if test="warnLevel != null" >#{warnLevel},</if>
			<if test="groupId != null" >#{groupId},</if>
			<if test="securityName != null" >#{securityName},</if>
			<if test="authPass != null" >#{authPass},</if>
			<if test="privPass != null" >#{privPass},</if>
      		<if test="createTime != null" >#{createTime}</if>
    	</trim>
	</insert>


	<update id="updateList" parameterType="java.util.List" >
		<if test="_databaseId == 'oracle'">
			begin
		</if>
		<foreach collection="list" item="item" index="index" separator=";" >
			UPDATE SNMP_DEEP_INFO
			<set>
				<if test="item.hostname != null">
					HOST_NAME = #{item.hostname},
				</if>
				<if test="item.state != null">
					STATE = #{item.state},
				</if>
				<if test="item.active != null">
					ACTIVE = #{item.active},
				</if>
				<if test="item.remark != null">
					REMARK = #{item.remark},
				</if>
				<if test="item.snmpCommunity != null">
					SNMP_COMMUNITY = #{item.snmpCommunity},
				</if>
				<if test="item.snmpPort != null">
					SNMP_PORT = #{item.snmpPort},
				</if>
				<if test="item.snmpVersion != null">
					SNMP_VERSION = #{item.snmpVersion},
				</if>
				<if test="item.warnLevel != null">
					WARN_LEVEL = #{item.warnLevel},
				</if>
				<if test="item.groupId != null">
					GROUP_ID = #{item.groupId},
				</if>
				<if test="item.securityName != null">
					SECURITY_NAME = #{item.securityName},
				</if>
				<if test="item.authPass != null">
					AUTH_PASS = #{item.authPass},
				</if>
				<if test="item.privPass != null">
					PRIV_PASS = #{item.privPass},
				</if>
				<if test="item.createTime != null" >
					CREATE_TIME= #{item.createTime}
				</if>
			</set>
			WHERE ID = #{item.id};
		</foreach>
		<if test="_databaseId == 'oracle'">
			end;
		</if>
	</update>


	<update id="updateById" parameterType="com.wgcloud.entity.SnmpDeepInfo">
		UPDATE SNMP_DEEP_INFO
		<set>
			<if test="hostname != null">
				HOST_NAME = #{hostname},
			</if>
			<if test="state != null">
				STATE = #{state},
			</if>
			<if test="active != null">
				ACTIVE = #{active},
			</if>
			<if test="remark != null">
				REMARK = #{remark},
			</if>
			<if test="snmpCommunity != null">
				SNMP_COMMUNITY = #{snmpCommunity},
			</if>
			<if test="snmpPort != null">
				SNMP_PORT = #{snmpPort},
			</if>
			<if test="snmpVersion != null">
				SNMP_VERSION = #{snmpVersion},
			</if>
			<if test="warnLevel != null">
				WARN_LEVEL = #{warnLevel},
			</if>
			<if test="groupId != null">
				GROUP_ID = #{groupId},
			</if>
			<if test="securityName != null">
				SECURITY_NAME = #{securityName},
			</if>
			<if test="authPass != null">
				AUTH_PASS = #{authPass},
			</if>
			<if test="privPass != null">
				PRIV_PASS = #{privPass},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime}
			</if>
		</set>
		WHERE ID = #{id}
	</update>

	<select id="countByParams" parameterType="map" resultType="java.lang.Integer">
		SELECT count(*)  FROM SNMP_DEEP_INFO t
		<where>
			<include refid="queryByParams" />
		</where>
	</select>


	<select id="selectAllByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM SNMP_DEEP_INFO t
		<where>
			<include refid="queryByParams" />
		</where>
		 ORDER BY ID DESC
	</select>

	<select id="selectByParams" parameterType="map" resultMap="resultMap">
		SELECT
		<include refid="tableColumnList" />
		FROM SNMP_DEEP_INFO
		<where>
			<include refid="queryByParams" />
		</where>
		<choose>
			<when test="orderBy !=null and orderBy != ''">
				<![CDATA[ ORDER BY ${orderBy} ${orderType}]]>
			</when>
			<otherwise>
				ORDER BY ID DESC
			</otherwise>
		</choose>

	</select>
	
	
</mapper>