<!DOCTYPE html>
<html>
<head>
  <div  th:replace="common/header.html"></div>


</head>
<body th:class="${session.sidebarCollapse}">
<div th:replace="common/chart.html"></div>

<div class="wrapper">

  <div th:replace="common/navbar.html"></div>

  <div th:replace="common/aside.html"></div>

  <!-- Content Wrapper. Contains page content -->
  <div th:class="'content-wrapper '+${session.themeNameSign}"  style="font-size:0.90rem">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active"></li>
                </ol>
            </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

  <div class="col-md-11">
    <div th:class="'card card-primary '+${session.themeNameSign}">
      <div class="card-header">
        <h3 class="card-title">添加服务接口（响应状态码200即为成功）</h3>
          <div class=" float-sm-right">
              <a href="javascript:history.back()">返回上级</a>
          </div>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
        <form role="form" id="form1" method="post" th:action="@{'/heathMonitor/save'}">
            <input type="hidden" name="id" th:value="${heathMonitor.id}"/>
            <div class="card-body">
                <div class="form-group">
                    <label><font color="red">*</font>服务接口名称</label>
                    <input type="text" autocomplete="off"  th:value="${heathMonitor.appName}" class="validate[required,maxSize[50]] form-control" name="appName" id="appName" placeholder="输入服务接口名称">
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>服务接口URL<span class="text-muted">（URL需为http或https接口）</span></label>
                    <input type="text" autocomplete="off"  th:value="${heathMonitor.heathUrl}" class="validate[required,maxSize[255]] form-control" name="heathUrl" id="heathUrl" placeholder="如http://192.168.1.1:9999/heath">
                </div>
                <div class="form-group clearfix">
                    <label><font color="red">*</font>接口请求方式</label>
                    <div class="input-group">
                        <div class="icheck-turquoise d-inline">
                            <input type="radio"  id="radioPrimary2" name="method" value="GET" checked>
                            <label for="radioPrimary2"><span style="opacity:.70">GET</span></label>
                        </div>
                        <div class="icheck-wisteria d-inline" style="margin-left:30px;">
                            <input type="radio"  id="radioPrimary4"  name="method" value="POST">
                            <label for="radioPrimary4"><span style="opacity:.70">POST</span></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="card card-primary card-tabs">
                        <div class="card-header p-0 pt-1">
                            <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Headers<span th:text="${heathMonitor.headerSize}"></span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">POST提交Body内容</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill" href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">POST提交表单<span th:text="${heathMonitor.formDataSize}"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="custom-tabs-one-tabContent">
                                <div class="tab-pane show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                    <label><font color="red"></font>Header<span class="text-muted">（GET和POST方式都可以添加Header，也可以为空）</span></label>
                                    <div class="form-group row">
                                        <div class="col-1"><label class="col-form-label">Key：</label></div>
                                        <div class="col-5"><input type="text" autocomplete="off"  th:value="${heathMonitor.headerKey}" class="validate[maxSize[50]] form-control" name="headerKey" id="headerKey" placeholder="key"></div>
                                        <div class="col-1"><label class="col-form-label">&nbsp;Value：</label></div>
                                        <div class="col-5"><input type="text" autocomplete="off"  th:value="${heathMonitor.headerValue}" class="validate[maxSize[1000]] form-control" name="headerValue" id="headerValue" placeholder="value"></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-1"><label class="col-form-label">Key：</label></div>
                                        <div class="col-5"><input type="text" autocomplete="off"  th:value="${heathMonitor.headerKey2}" class="validate[maxSize[50]] form-control" name="headerKey2" id="headerKey2" placeholder="key"></div>
                                        <div class="col-1"><label class="col-form-label">&nbsp;Value：</label></div>
                                        <div class="col-5"><input type="text" autocomplete="off"  th:value="${heathMonitor.headerValue2}" class="validate[maxSize[1000]] form-control" name="headerValue2" id="headerValue2" placeholder="value"></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-1"><label class="col-form-label">Key：</label></div>
                                        <div class="col-5"><input type="text" autocomplete="off"  th:value="${heathMonitor.headerKey3}" class="validate[maxSize[50]] form-control" name="headerKey3" id="headerKey3" placeholder="key"></div>
                                        <div class="col-1"><label class="col-form-label">&nbsp;Value：</label></div>
                                        <div class="col-5"><input type="text" autocomplete="off"  th:value="${heathMonitor.headerValue3}" class="validate[maxSize[1000]] form-control" name="headerValue3" id="headerValue3" placeholder="value"></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-1"><label class="col-form-label">Key：</label></div>
                                        <div class="col-5"><input type="text" autocomplete="off"  th:value="${heathMonitor.headerKey4}" class="validate[maxSize[50]] form-control" name="headerKey4" id="headerKey4" placeholder="key"></div>
                                        <div class="col-1"><label class="col-form-label">&nbsp;Value：</label></div>
                                        <div class="col-5"><input type="text" autocomplete="off"  th:value="${heathMonitor.headerValue4}" class="validate[maxSize[1000]] form-control" name="headerValue4" id="headerValue4" placeholder="value"></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-1"><label class="col-form-label">Key：</label></div>
                                        <div class="col-5"><input type="text" autocomplete="off"  th:value="${heathMonitor.headerKey5}" class="validate[maxSize[50]] form-control" name="headerKey5" id="headerKey5" placeholder="key"></div>
                                        <div class="col-1"><label class="col-form-label">&nbsp;Value：</label></div>
                                        <div class="col-5"><input type="text" autocomplete="off"  th:value="${heathMonitor.headerValue5}" class="validate[maxSize[1000]] form-control" name="headerValue5" id="headerValue5" placeholder="value"></div>
                                    </div>
                                </div>
                                <div class="tab-pane " id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                                    <label><font color="red"></font>POST方式提交Body内容<span class="text-muted">（一般为json字符串，也可以为空）</span></label>
                                    <textarea class="validate[maxSize[2000]] form-control"   name="postStr" id="postStr" th:text="${heathMonitor.postStr}"  placeholder=''></textarea>
                                </div>
                                <div class="tab-pane " id="custom-tabs-one-messages" role="tabpanel" aria-labelledby="custom-tabs-one-messages-tab">
                                    <label><font color="red"></font>POST方式提交表单<span class="text-muted">（若填写提交表单，监控就只会使用表单数据，不再使用提交Body内容，也可以为空）</span></label>
                                    <div class="form-group row">
                                        <div class="col-1"><label class="col-form-label">Key：</label></div>
                                        <div class="col-5"><input type="text" autocomplete="off"  th:value="${heathMonitor.formKey}" class="validate[maxSize[50]] form-control" name="formKey" id="formKey" placeholder="key"></div>
                                        <div class="col-1"><label class="col-form-label">&nbsp;Value：</label></div>
                                        <div class="col-5"><input type="text" autocomplete="off"  th:value="${heathMonitor.formValue}" class="validate[maxSize[500]] form-control" name="formValue" id="formValue" placeholder="value"></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-1"><label class="col-form-label">Key：</label></div>
                                        <div class="col-5"><input type="text" autocomplete="off"  th:value="${heathMonitor.formKey2}" class="validate[maxSize[50]] form-control" name="formKey2" id="formKey2" placeholder="key"></div>
                                        <div class="col-1"><label class="col-form-label">&nbsp;Value：</label></div>
                                        <div class="col-5"><input type="text" autocomplete="off"  th:value="${heathMonitor.formValue2}" class="validate[maxSize[500]] form-control" name="formValue2" id="formValue2" placeholder="value"></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-1"><label class="col-form-label">Key：</label></div>
                                        <div class="col-5"><input type="text" autocomplete="off"  th:value="${heathMonitor.formKey3}" class="validate[maxSize[50]] form-control" name="formKey3" id="formKey3" placeholder="key"></div>
                                        <div class="col-1"><label class="col-form-label">&nbsp;Value：</label></div>
                                        <div class="col-5"><input type="text" autocomplete="off"  th:value="${heathMonitor.formValue3}" class="validate[maxSize[500]] form-control" name="formValue3" id="formValue3" placeholder="value"></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-1"><label class="col-form-label">Key：</label></div>
                                        <div class="col-5"><input type="text" autocomplete="off"  th:value="${heathMonitor.formKey4}" class="validate[maxSize[50]] form-control" name="formKey4" id="formKey4" placeholder="key"></div>
                                        <div class="col-1"><label class="col-form-label">&nbsp;Value：</label></div>
                                        <div class="col-5"><input type="text" autocomplete="off"  th:value="${heathMonitor.formValue4}" class="validate[maxSize[500]] form-control" name="formValue4" id="formValue4" placeholder="value"></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-1"><label class="col-form-label">Key：</label></div>
                                        <div class="col-5"><input type="text" autocomplete="off"  th:value="${heathMonitor.formKey5}" class="validate[maxSize[50]] form-control" name="formKey5" id="formKey5" placeholder="key"></div>
                                        <div class="col-1"><label class="col-form-label">&nbsp;Value：</label></div>
                                        <div class="col-5"><input type="text" autocomplete="off"  th:value="${heathMonitor.formValue5}" class="validate[maxSize[500]] form-control" name="formValue5" id="formValue5" placeholder="value"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>

                </div>
                <div class="form-group">
                    <label><font color="red"></font>响应内容需包含的关键字<span class="text-muted">（含此关键字才判定接口正常，否则返回500错误，请尽量用字母数字标识）</span></label>
                    <input type="text" autocomplete="off"  th:value="${heathMonitor.resKeyword}" class="validate[maxSize[200]] form-control" name="resKeyword" id="resKeyword" placeholder="响应内容需包含的关键字，可以为空">
                </div>
                <div class="form-group">
                    <label><font color="red"></font>响应内容不能包含的关键字<span class="text-muted">（含此关键字则返回500错误，多个关键字用英文逗号隔开，请尽量用字母数字标识）</span></label>
                    <input type="text" autocomplete="off"  th:value="${heathMonitor.resNoKeyword}" class="validate[maxSize[200]] form-control" name="resNoKeyword" id="resNoKeyword" placeholder="响应内容不能包含的关键字，可以为空">
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>告警级别</label>
                    <div th:replace="common/warnLevel.html"></div>
                </div>
                <div class="form-group clearfix">
                    <label><font color="red">*</font>监控状态</label>
                    <div th:replace="common/activeRadio.html"></div>
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm" style="margin-right:10px;"><i class="fas fa-save"></i> 保 存</button>
                <button type="button"  th:onclick="goback()"  class="btn bg-danger btn-sm"><i class="fas fa-backward"></i> 返 回</button>
            </div>

        </form>
    </div>
    <!-- /.card -->


  </div><!-- /.col-md-10 -->

        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->


  <div th:replace="common/footer.html"></div>

</div>
<!-- ./wrapper -->
<div th:replace="common/codemirror.html"></div>
<script th:src="@{'/static/js/heath.js?v=3.5.0'}"></script>
<script th:inline="javascript">
    var editor;
    $(document).ready(function(){
        $("#form1").validationEngine();
        editor = CodeMirror.fromTextArea(document.getElementById("postStr"), {
            lineNumbers: true,
            styleActiveLine: true,
            matchBrackets: true,
            mode: "application/json"
        });
        editor.setOption("theme", "dracula");
        editor.setSize('auto','350px');
        var warnLevel = [[${heathMonitor.warnLevel}]];
        $("input[name='warnLevel'][value='"+warnLevel+"']").attr('checked','true');
        var active = [[${heathMonitor.active}]];
        $("input[name='active'][value='"+active+"']").attr('checked','true');
        var method = [[${heathMonitor.method}]];
        $("input[name='method'][value='"+method+"']").attr('checked','true');
        $('#custom-tabs-one-profile-tab').click(function (e){
            setTimeout(refreshEditor,500);
        });
    });
    function refreshEditor(){
        editor.refresh();
    }
</script>
</body>
</html>
