<!DOCTYPE html>
<html>
<head>
  <div  th:replace="common/header.html"></div>

  <!--https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.min.js-->
  <script th:src="@{'/static/common/antv/vue.min.js'}"></script>
  <!--https://registry.npmjs.org/@antv/g6/-/g6-4.7.16.tgz-->
  <script th:src="@{'/static/common/antv/g6.min.js'}"></script>


</head>
<body th:class="${session.sidebarCollapse}">

<div class="wrapper">

  <div th:replace="common/navbar.html"></div>

  <div th:replace="common/aside.html"></div>


  <!-- Content Wrapper. Contains page content -->
  <div th:class="'content-wrapper '+${session.themeNameSign}">
    <div id="app" style="display: none">
      {{message}}
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="row  mb-2">
          <div class="col-sm-12" style="font-weight: 500;margin-top:5px;font-size: 0.9rem;">
            <form class="form-inline ml-3">
             <th:block th:if="${pageFlag  == 'host'}">
              <div class="input-group input-group-sm" th:if="${application.hostGroup == 'true'}"><select style="width:150px;margin-right:5px;" th:class="'form-control '+${session.themeNameSign}" onchange="searchByGroupId()" name="groupId" id="groupId">
                <option value="">选择标签</option>
                <th:block th:each="item,iterStat : ${hostGroupList}">
                  <option  th:value="${item.id}"  th:text="${item.groupName}">Alabama</option>
                </th:block>
              </select></div>
              <div th:replace="common/accountSelect.html"></div>
              <button type="button" onclick="hrefTopUrl('/tuopu/tuopuListHost')" class="btn btn-primary btn-sm" style="margin-left:10px;margin-right:5px;">全部</button>
              <button type="button" onclick="hrefTopUrl('/tuopu/tuopuListHost?state=1')" class="btn btn-success btn-sm" style="margin-right:5px;">在线</button>
              <button type="button" onclick="hrefTopUrl('/tuopu/tuopuListHost?state=2')" class="btn bg-danger btn-sm" style="margin-right:5px;">已离线</button>
              <button type="button" onclick="hrefTopUrl('/tuopu/tuopuListHostGrid')" class="btn btn-primary btn-sm" style="margin-right:5px;"><i class="fas fa-th"></i> 切换布局</button>
            </th:block>

            <th:block th:if="${pageFlag  == 'ping'}">
              <div class="input-group input-group-sm" th:if="${application.hostGroup == 'true'}"><select style="width:150px;margin-right:5px;" th:class="'form-control '+${session.themeNameSign}" onchange="searchByGroupIdPing()" name="groupId" id="groupId">
                <option value="">选择标签</option>
                <th:block th:each="item,iterStat : ${hostGroupList}">
                  <option  th:value="${item.id}"  th:text="${item.groupName}">Alabama</option>
                </th:block>
              </select></div>
              <div class="input-group input-group-sm" th:if="${application.LICENSE_STATE eq '1' && application.userInfoManage == 'true' && session.LOGIN_KEY.role == 'admin'}"><select style="width:150px;margin-right:5px;margin-left:5px;" th:class="'form-control '+${session.themeNameSign}" onchange="searchByAccountPing()" name="account" id="account">
                <option value="">选择账号</option>
                <th:block th:each="item,iterStat : ${accountList}">
                  <option  th:value="${item.account}"  th:text="${item.account}">Alabama</option>
                </th:block>
              </select></div>
              <button type="button" onclick="hrefTopUrl('/tuopu/tuopuListSt')" class="btn btn-primary btn-sm" style="margin-left:10px;margin-right:5px;">全部</button>
              <button type="button" onclick="hrefTopUrl('/tuopu/tuopuListSt?state=1')" class="btn btn-success btn-sm" style="margin-right:5px;">在线</button>
              <button type="button" onclick="hrefTopUrl('/tuopu/tuopuListSt?state=2')" class="btn bg-danger btn-sm" style="margin-right:5px;">已离线</button>
              <button type="button" onclick="hrefTopUrl('/tuopu/tuopuListStGrid')" class="btn btn-primary btn-sm" style="margin-right:5px;"><i class="fas fa-th"></i> 切换布局</button>
            </th:block>

            <th:block th:if="${pageFlag  == 'snmp'}">
              <div class="input-group input-group-sm" th:if="${application.hostGroup == 'true'}"><select style="width:150px;margin-right:5px;" th:class="'form-control '+${session.themeNameSign}" onchange="searchByGroupIdSnmp()" name="groupId" id="groupId">
                <option value="">选择标签</option>
                <th:block th:each="item,iterStat : ${hostGroupList}">
                  <option  th:value="${item.id}"  th:text="${item.groupName}">Alabama</option>
                </th:block>
              </select></div>
              <div class="input-group input-group-sm" th:if="${application.LICENSE_STATE eq '1' && application.userInfoManage == 'true' && session.LOGIN_KEY.role == 'admin'}"><select style="width:150px;margin-right:5px;margin-left:5px;" th:class="'form-control '+${session.themeNameSign}" onchange="searchByAccountSnmp()" name="account" id="account">
                <option value="">选择账号</option>
                <th:block th:each="item,iterStat : ${accountList}">
                  <option  th:value="${item.account}"  th:text="${item.account}">Alabama</option>
                </th:block>
              </select></div>
              <button type="button" onclick="hrefTopUrl('/tuopu/tuopuListSnmp')" class="btn btn-primary btn-sm" style="margin-left:10px;margin-right:5px;">全部</button>
              <button type="button" onclick="hrefTopUrl('/tuopu/tuopuListSnmp?state=1')" class="btn btn-success btn-sm" style="margin-right:5px;">在线</button>
              <button type="button" onclick="hrefTopUrl('/tuopu/tuopuListSnmp?state=2')" class="btn bg-danger btn-sm" style="margin-right:5px;">已离线</button>
              <button type="button" onclick="hrefTopUrl('/tuopu/tuopuListSnmpGrid')" class="btn btn-primary btn-sm" style="margin-right:5px;"><i class="fas fa-th"></i> 切换布局</button>
            </th:block>

            <th:block th:if="${pageFlag  == 'snmpDeep'}">
              <div class="input-group input-group-sm" th:if="${application.hostGroup == 'true'}"><select style="width:150px;margin-right:5px;" th:class="'form-control '+${session.themeNameSign}" onchange="searchByGroupIdSnmpDeep()" name="groupId" id="groupId">
                <option value="">选择标签</option>
                <th:block th:each="item,iterStat : ${hostGroupList}">
                  <option  th:value="${item.id}"  th:text="${item.groupName}">Alabama</option>
                </th:block>
              </select></div>
              <div class="input-group input-group-sm" th:if="${application.LICENSE_STATE eq '1' && application.userInfoManage == 'true' && session.LOGIN_KEY.role == 'admin'}"><select style="width:150px;margin-right:5px;margin-left:5px;" th:class="'form-control '+${session.themeNameSign}" onchange="searchByAccountSnmpDeep()" name="account" id="account">
                <option value="">选择账号</option>
                <th:block th:each="item,iterStat : ${accountList}">
                  <option  th:value="${item.account}"  th:text="${item.account}">Alabama</option>
                </th:block>
              </select></div>
              <button type="button" onclick="hrefTopUrl('/tuopu/tuopuListSnmpDeep')" class="btn btn-primary btn-sm" style="margin-left:10px;margin-right:5px;">全部</button>
              <button type="button" onclick="hrefTopUrl('/tuopu/tuopuListSnmpDeep?state=1')" class="btn btn-success btn-sm" style="margin-right:5px;">在线</button>
              <button type="button" onclick="hrefTopUrl('/tuopu/tuopuListSnmpDeep?state=2')" class="btn bg-danger btn-sm" style="margin-right:5px;">已离线</button>
              <button type="button" onclick="hrefTopUrl('/tuopu/tuopuListSnmpDeepGrid')" class="btn btn-primary btn-sm" style="margin-right:5px;"><i class="fas fa-th"></i> 切换布局</button>
            </th:block>
            <span style="margin-left:10px;vertical-align:bottom;vertical-align:bottom;" class="text-muted">数量：</span><span class="text-muted" style="margin-right:10px;vertical-align:bottom;vertical-align:bottom;font-weight: bold;" th:text="${nodeListSize}" ></span>
            <span style="vertical-align:bottom;color:#3ac47d !important;vertical-align:bottom;" th:text="${licenseMsg}" ></span>
            </form>
          </div>
        </div></div></section>
    <div id="container" width="1800" height="1020"></div>


  </div>

  <div th:replace="common/footer.html"></div>

</div>
<!-- ./wrapper -->

<script th:inline="javascript">
  var pageFlag = [[${pageFlag}]];
  var app = new Vue({
    el:"#app",

    data:{
      message:""
    },

    created(){
      console.log("created完成");
    },
    mounted(){
      console.log("mounted进行");



      const Util = G6.Util;

      const { getLabelPosition, transform } = G6.Util;

      G6.registerEdge(
              "arrow-running",
              {
                afterDraw(cfg, group) {
                  // get the first shape in the group, it is the edge's path here=
                  const shape = group.get("children")[0];

                  const arrow = group.addShape("marker", {
                    attrs: {
                      x: 16,
                      y: 0,
                      r: 8,
                      lineWidth: 2,
                      stroke: "#3370ff",
                      fill: "#fff",
                      symbol: (x, y, r) => {
                        return [
                          ["M", x - 6, y - 4],
                          ["L", x - 2, y],
                          ["L", x - 6, y + 4]
                        ];
                      }
                    }
                  });

                  // animation for the red circle
                  arrow.animate(
                          (ratio) => {
                            // the operations in each frame. Ratio ranges from 0 to 1 indicating the prograss of the animation. Returns the modified configurations
                            // get the position on the edge according to the ratio
                            const tmpPoint = shape.getPoint(ratio);
                            const pos = getLabelPosition(shape, ratio);
                            let matrix = [1, 0, 0, 0, 1, 0, 0, 0, 1];
                            matrix = transform(matrix, [
                              ["t", -tmpPoint.x, -tmpPoint.y],
                              ["r", pos.angle],
                              ["t", tmpPoint.x, tmpPoint.y]
                            ]);

                            // returns the modified configurations here, x and y here
                            return {
                              x: tmpPoint.x,
                              y: tmpPoint.y,
                              matrix
                            };
                          },
                          {
                            repeat: true, // Whether executes the animation repeatly
                            duration: 3000 // the duration for executing once
                          }
                  );
                }
              },
              "quadratic" // extend the built-in edge 'cubic'
      );

      const tooltip = new G6.Tooltip({
        offsetX: 10,
        offsetY: 20,
        // 允许出现 tooltip 的 item 类型
        itemTypes: ['node'],
        // 自定义 tooltip 内容
        getContent(e) {
          const outDiv = document.createElement('div');
          outDiv.style.width = '180px';
          const label =  e.item.getModel().label;
          if(label=="Server"){
            outDiv.innerHTML = `
				  <h6>节点信息</h6>
				  <ul>
					<li>名称: ${e.item.getModel().label}</li>
				  </ul>`;
          }else{
            if(pageFlag=="host"){
              outDiv.innerHTML = `
				  <h6>节点信息</h6>
				  <ul>
					<li>名称: ${e.item.getModel().label}</li>
					<li>CPU使用率: ${e.item.getModel().cpuPer}</li>
					<li>内存使用率: ${e.item.getModel().memPer}</li>
					<li>上行速率: ${e.item.getModel().txbyt}</li>
					<li>下行速率: ${e.item.getModel().rxbyt}</li>
					<li>系统负载(5分钟): ${e.item.getModel().fiveLoad}</li>
					<li>运行进程数量: ${e.item.getModel().procs}</li>
					<li>连接数量: ${e.item.getModel().netConnections}</li>
				  </ul>`;
            }else if(pageFlag=="ping"){
              outDiv.innerHTML = `
				  <h6>节点信息</h6>
				  <ul>
					<li>名称: ${e.item.getModel().label}</li>
					<li>响应时间: ${e.item.getModel().cpuPer}</li>
				  </ul>`;
            }else if(pageFlag=="snmp"){
              outDiv.innerHTML = `
				  <h6>节点信息</h6>
				  <ul>
					<li>名称: ${e.item.getModel().label}</li>
					<li>上行流量: ${e.item.getModel().txbyt}</li>
					<li>下行流量: ${e.item.getModel().rxbyt}</li>
				  </ul>`;
            }else if(pageFlag=="snmpDeep"){
              outDiv.innerHTML = `
				  <h6>节点信息</h6>
				  <ul>
					<li>名称: ${e.item.getModel().label}</li>
				  </ul>`;
            }
          }
          return outDiv
        },
      });


      const data =   [[${nodeList}]];

      const container = document.getElementById('container');
      //const width = container.scrollWidth;
     // const height = container.scrollHeight || 500;
      const graph = new G6.Graph({
        container: 'container',
        width:1800,
        height:1020,
        layout: {
          type: 'force',// 指定为力导向布局
          preventOverlap: true,// 防止节点重叠
          linkDistance: 400, // 指定边距离为100
        },
        modes: {
          default: [
            'drag-canvas',
            'zoom-canvas',
            'click-select',
            'drag-node'
          ]
        },
        defaultNode: {
          type: 'image',
          size: 20,
          style: {
            fill: '#DEE9FF',
            stroke: '#5B8FF9',
          },
          labelCfg: {
            position: 'bottom',
          },
        },
        defaultEdge: {
          type: "arrow-running",
          style: {
            endArrow: true,
            lineWidth: 2,
            lineAppendWidth: 15,
            stroke: '#C2C8D5'
          }
        },
        plugins: [tooltip], // 配置 Tooltip 插件
      });
      graph.data(data);
      graph.render();

      if (typeof window !== 'undefined')
        window.onresize = () => {
          if (!graph || graph.get('destroyed')) return;
          if (!container || !container.scrollWidth || !container.scrollHeight) return;
          graph.changeSize(container.scrollWidth, container.scrollHeight);
        };

    }
  })
  $("#groupId").val([[${groupId}]]);
  $("#account").val([[${account}]]);
  function searchByGroupId() {
    window.location.href = SERVER_SERVLET_CONTEXT_PATH + "/tuopu/tuopuListHost?groupId="+$("#groupId").val();
  }
  function searchByAccount() {
    window.location.href = SERVER_SERVLET_CONTEXT_PATH + "/tuopu/tuopuListHost?account="+$("#account").val();
  }
  function searchByGroupIdPing() {
    window.location.href = SERVER_SERVLET_CONTEXT_PATH + "/tuopu/tuopuListSt?groupId="+$("#groupId").val();
  }
  function searchByAccountPing() {
    window.location.href = SERVER_SERVLET_CONTEXT_PATH + "/tuopu/tuopuListSt?account="+$("#account").val();
  }
  function searchByGroupIdSnmp() {
    window.location.href = SERVER_SERVLET_CONTEXT_PATH + "/tuopu/tuopuListSnmp?groupId="+$("#groupId").val();
  }
  function searchByAccountSnmp() {
    window.location.href = SERVER_SERVLET_CONTEXT_PATH + "/tuopu/tuopuListSnmp?account="+$("#account").val();
  }
  function searchByGroupIdSnmpDeep() {
    window.location.href = SERVER_SERVLET_CONTEXT_PATH + "/tuopu/tuopuListSnmpDeep?groupId="+$("#groupId").val();
  }
  function searchByAccountSnmpDeep() {
    window.location.href = SERVER_SERVLET_CONTEXT_PATH + "/tuopu/tuopuListSnmpDeep?account="+$("#account").val();
  }


</script>
</body>
</html>
