<!DOCTYPE html>
<html>
<head>
  <div  th:replace="common/header.html"></div>


</head>
<body th:class="${session.sidebarCollapse}">
<div th:replace="common/chart.html"></div>

<div class="wrapper">

  <div th:replace="common/navbar.html"></div>

  <div th:replace="common/aside.html"></div>

  <!-- Content Wrapper. Contains page content -->
  <div th:class="'content-wrapper '+${session.themeNameSign}"  style="font-size:0.90rem">
    <!-- Content Header (Page header) -->
    <section class="content-header" style="height:38px">
      <div class="container-fluid">
        <div class="row mb-2" style="margin-top: -7px;">
          <div class="col-sm-6"></div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="javascript:history.back()">返回上级</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

  <div class="col-md-12">
    <div th:class="'card '+${session.themeNameSign}">
      <div class="card-header">
        <h3 class="card-title"><i class="fa-brands fa-kubernetes nav-icon"></i>&nbsp;K8S Container列表<span  data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top" data-content="此资源需要部署server-backup监控"  style="cursor:pointer;margin-left: 10px"><i class="fa fa-comment-dots"></i></span></h3>
        <div class=" float-sm-right">
          <!-- SEARCH FORM -->
          <form class="form-inline ml-3" th:action="@{'/k8sMonitor/list'}">
            <th:block th:if="${session.LOGIN_KEY.role != 'guest'}">
              <button type="button" onclick="delChecks('/k8sMonitor/del?dataType=container')"  class="btn bg-danger btn-sm" style="margin-right:5px;">删除</button>
            </th:block>
            <div class="input-group input-group-sm">
              <input type="hidden" name="dataType" value="container"/>
              <input th:class="'form-control '+${session.themeNameSign}"  id="namespaceParam" name="namespaceParam" autocomplete="off"   style="margin-right:5px;" th:value="${namespaceParam}" type="text" placeholder="namespace">
              <input th:class="'form-control '+${session.themeNameSign}"  id="k8sName" name="k8sName" autocomplete="off" th:value="${k8sMonitor.k8sName}" type="text" placeholder="k8s容器集群名称">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </div>

            </div>
          </form>

        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table th:class="'table table-bordered '+${session.themeTableHoverSign}">
          <thead>
          <tr>
            <th style="width: 20px"> <input type="checkbox" value="" name="checkall" id="checkall"></th>
            <th style="width: 60px">序号</th>
            <th>Container Name</th>
            <th>Image</th>
            <th>Restart Count</th>
            <th>Started Time</th>
            <th>Namespace</th>
            <th>Pod Name</th>
            <th>Node</th>
            <th>集群名称</th>
            <th>更新时间</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <th:block th:each="item,iterStat : ${page.list}">
            <tr>
              <td><input type="checkbox" th:value="${item.id}" name="todo2" th:id="${item.id}+'_check'"/></td>
              <td th:text="${iterStat.index+1}">1</td>
              <td th:text="${item.containerName}">Update software</td>
              <td><span  data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top" th:data-content="${item.image}" th:text="${item.image}"></span></td>
              <td th:text="${item.restartCount}">Update software</td>
              <th:block th:if="${item.startedTime  == 'Stopped'}">
                <td><span class="badge bg-danger"  th:text="${item.startedTime}"></span></td>
              </th:block>
              <th:block th:if="${item.startedTime  != 'Stopped'}">
                <td><span  th:text="${item.startedTime}"></span></td>
              </th:block>
              <td th:text="${item.namespace}">Update software</td>
              <td th:text="${item.podName}">Update software</td>
              <td th:text="${item.nodeName}">Update software</td>
              <td th:text="${item.k8sName}">Update software</td>
              <td th:text="${#dates.format(item.createTime,'yyyy-MM-dd HH:mm:ss')}">Update software</td>
              <td> <button type="button"  th:onclick="viewContainer([[${item.id}]])"  class="btn btn-block btn-primary btn-sm">查看</button></td>
            </tr>
          </th:block>

          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
      <div th:replace="common/page.html"></div>
    </div>
    <!-- /.card -->


  </div><!-- /.col-md-12 -->

        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->


  <div th:replace="common/footer.html"></div>

</div>
<!-- ./wrapper -->

<script th:src="@{'/static/js/k8s.js?v=3.6.4'}"></script>

<script th:inline="javascript">
  var msg = [[${msg}]];
  if(msg!='' && msg!=null){
    toastr.info(msg);
  }
</script>

</body>
</html>
