<!DOCTYPE html>
<html>
<head>
  <div  th:replace="common/header.html"></div>
  <link rel="stylesheet" th:href="@{'/static/common/quill/quill.snow.css'}" type="text/css"/>

</head>
<body th:class="${session.sidebarCollapse}">
<div th:replace="common/chart.html"></div>

<div class="wrapper">

  <div th:replace="common/navbar.html"></div>

  <div th:replace="common/aside.html"></div>

  <!-- Content Wrapper. Contains page content -->
  <div th:class="'content-wrapper '+${session.themeNameSign}" style="font-size:0.90rem">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active"></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

  <div class="col-md-12">
    <div th:class="'card card-primary '+${session.themeNameSign}">
      <div class="card-header">
        <h3 class="card-title">工作笔记信息</h3>
        <div class=" float-sm-right">
          <a href="javascript:history.back()">返回上级</a>
        </div>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form role="form">
        <div class="card-body">
          <div class="form-group">
            <label style="margin-left:5px" th:text="${shellNoteInfo.shellTitle}">标题</label>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="ql-container ql-snow">
                <div class="ql-editor" th:utext="${shellNoteInfo.shellContent}">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </form>
      <!-- /.card-body -->

    </div>
    <!-- /.card -->


  </div><!-- /.col-md-12 -->

        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->

  <script th:src="@{'/static/common/quill/quill.js'}" type="text/javascript" charset="utf-8"></script>
  <div th:replace="common/footer.html"></div>

</div>
<!-- ./wrapper -->

<script th:src="@{'/static/js/shellNoteInfo.js?v=3.5.0'}"></script>


<script th:inline="javascript">
  $(document).ready(function(){
  });
</script>


</body>
</html>
