<!DOCTYPE html>
<html>
<head>
  <div  th:replace="common/header.html"></div>


</head>
<body th:class="${session.sidebarCollapse}">

<div class="wrapper">

  <div th:replace="common/navbar.html"></div>

  <div th:replace="common/aside.html"></div>

  <!-- Content Wrapper. Contains page content -->
  <div th:class="'content-wrapper '+${session.themeNameSign}" style="font-size:0.90rem">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active"></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

  <div class="col-md-12">
    <div th:class="'card card-primary '+${session.themeNameSign}">
      <div class="card-header">
        <h3 class="card-title" >日志监控</h3>
        <div class=" float-sm-right">
          <a href="javascript:history.back()">返回上级</a>
        </div>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form role="form">
        <div class="card-body">
          <div class="form-group">
            <label>监控主机</label>
            <div  th:text="${fileWarnInfo.hostname}"></div>
          </div>
          <div class="form-group">
            <label>日志文件或文件夹完整路径</label>
            <div  th:text="${fileWarnInfo.filePath}"></div>
          </div>
          <div class="form-group">
            <label>告警关键字</label>
            <div  th:text="${fileWarnInfo.warnChars}"></div>
          </div>
          <div class="form-group">
            <label>时间</label>
            <div  th:text="${#dates.format(fileWarnInfo.createTime,'yyyy-MM-dd HH:mm:ss')}"></div>
          </div>
          <div class="form-group">
            <label>日志文件名称需包含的关键字<span class="text-muted">（当监控日志文件夹时，此处才生效，用来标识文件夹下的日志文件名称需要包含的关键字）</span></label>
            <div><span th:text="${fileWarnInfo.fileNamePrefix}"></span><span th:if="${fileWarnInfo.fileNamePrefix} == null or ${fileWarnInfo.fileNamePrefix} == ''">&nbsp;</span></div>
          </div>
          <div class="form-group">
            <label>日志文件类型<span class="text-muted">（当监控日志文件夹时，此处设置才生效）</span></label>
            <div class="input-group">
              <div class="icheck-primary d-inline">
                <input type="radio" id="fileType1" name="fileType" value="1" checked>
                <label for="fileType1"><span style="opacity:.70">.log</span></label>
              </div>
              <div class="icheck-yellow d-inline" style="margin-left:35px;">
                <input type="radio" id="fileType2" name="fileType" value="2">
                <label for="fileType2"><span style="opacity:.70">.txt</span></label>
              </div>
              <div class="icheck-teal d-inline" style="margin-left:35px;">
                <input type="radio" id="fileType3" name="fileType" value="3">
                <label for="fileType3"><span style="opacity:.70">.out</span></label>
              </div>
              <div class="icheck-primary d-inline" style="margin-left:35px;">
                <input type="radio" id="fileType4" name="fileType" value="4">
                <label for="fileType4"><span style="opacity:.70">.json</span></label>
              </div>
              <div class="icheck-orange d-inline" style="margin-left:35px;">
                <input type="radio" id="fileType5" name="fileType" value="5">
                <label for="fileType5"><span style="opacity:.70">.xml</span></label>
              </div>
              <div class="icheck-pink d-inline" style="margin-left:35px;">
                <input type="radio" id="fileType6" name="fileType" value="6">
                <label for="fileType6"><span style="opacity:.70">无后缀</span></label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>备注</label>
            <div><span th:text="${fileWarnInfo.remark}"></span><span th:if="${fileWarnInfo.remark} == null or ${fileWarnInfo.remark} == ''">&nbsp;</span></div>
          </div>
          <div class="form-group">
            <label>自动处理指令<span data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top" data-content="当检测到日志告警关键字后触发，agent会自动执行下方输入的指令或脚本，如果不需要执行，删除指令或停止监控即可，此功能需升级到专业版" class="text-muted">（多条指令请换行输入）</span><span class="text-muted" th:text="${blockStr}">敏感字符串过滤</span></label>
            <label><span style="color: #62d45e!important;">如果指令很多，比如超过10行或带有逻辑判断，建议将指令写入到一个脚本(存在被监控主机)，然后在这里执行脚本</span></label>
            <textarea class="validate[maxSize[500]] form-control"   name="customShell" id="customShell" th:text="${fileWarnInfo.customShell}"></textarea>
          </div>
          <div class="form-group clearfix">
            <label><font color="red">*</font>监控状态</label></br>
            <th:block th:if="${#strings.isEmpty(fileWarnInfo.active)}" >
              <div class="icheck-primary d-inline">
                <input type="radio" id="radioPrimary1" name="active" value="1" checked>
                <label for="radioPrimary1"> 启用监控 </label>
              </div>
              <div class="icheck-danger d-inline">
                <input type="radio" id="radioPrimary3" value="2" name="active" >
                <label for="radioPrimary3">停止监控</label>
              </div>
            </th:block>
            <th:block th:if="${fileWarnInfo.active  == '1'}">
              <div class="icheck-primary d-inline">
                <input type="radio" id="radioPrimary1" name="active" value="1" checked>
                <label for="radioPrimary1"> 启用监控 </label>
              </div>
              <div class="icheck-danger d-inline">
                <input type="radio" id="radioPrimary3" name="active" value="2">
                <label for="radioPrimary3">停止监控</label>
              </div>
            </th:block>
            <th:block th:if="${fileWarnInfo.active  == '2'}">
              <div class="icheck-primary d-inline">
                <input type="radio" id="radioPrimary1" name="active" value="1">
                <label for="radioPrimary1"> 启用监控 </label>
              </div>
              <div class="icheck-danger d-inline">
                <input type="radio" id="radioPrimary3" name="active" checked value="2">
                <label for="radioPrimary3">停止监控</label>
              </div>
            </th:block>
          </div>
          <div class="form-group">
            <label>监控任务执行状态</label>
            <div><code class="highlighter-rouge" style="font-size:100%;font-weight:700" th:text="${fileWarnErrorMsg}"></code></div>
          </div>
          <div class="form-group">
            <label>自动处理指令执行状态</label>
            <div><code class="highlighter-rouge" style="font-size:100%;font-weight:700" th:text="${shellCallBackMsg}"></code></div>
          </div>
        </div>
        <!-- /.card-body -->
      </form>
      <!-- /.card-body -->


    </div>
    <!-- /.card -->


  </div><!-- /.col-md-12 -->

        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->


  <div th:replace="common/footer.html"></div>

</div>
<!-- ./wrapper -->

<script th:src="@{'/static/js/fileWarnInfo.js?v=3.5.0'}"></script>
<div th:replace="common/codemirror.html"></div>
<script th:inline="javascript">
  $(document).ready(function(){
    var fileTypeVal = [[${fileWarnInfo.fileType}]];
    $("input[name='fileType'][value='"+fileTypeVal+"']").attr('checked','true');
    var editor = CodeMirror.fromTextArea(document.getElementById("customShell"), {
      lineNumbers: true,
      styleActiveLine: true,
      matchBrackets: true,
      mode: 'shell',
    });
    editor.setOption("theme", "dracula");
    editor.setSize('auto','220px');
  });

</script>

</body>
</html>
