<!DOCTYPE html>
<html>
<head>
  <div  th:replace="common/header.html"></div>

</head>
<body th:class="${session.sidebarCollapse}">
<div th:replace="common/chart.html"></div>

<div class="wrapper">

  <div th:replace="common/navbar.html"></div>

  <div th:replace="common/aside.html"></div>

  <!-- Content Wrapper. Contains page content -->
  <div th:class="'content-wrapper '+${session.themeNameSign}" style="font-size:0.90rem">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active"></li>
                </ol>
            </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

  <div class="col-md-11">
    <div th:class="'card card-primary '+${session.themeNameSign}">
      <div class="card-header">
        <h3 class="card-title">添加进程监控</h3>
          <div class=" float-sm-right">
              <a href="javascript:history.back()">返回上级</a>
          </div>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
        <form role="form" id="form1" method="post" th:action="@{'/appInfo/save'}">
            <input type="hidden" name="id" th:value="${appInfo.id}"/>
            <div class="card-body">
                <div class="form-group">
                    <label><font color="red">*</font>监控主机<span class="text-muted">（刚添加后，初始状态值会显示为0或空，这是因为agent需要3分钟来同步到信息，之后正常监控）</span></label>
                    <div th:replace="common/singleSelectHost.html"></div>
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>获取进程方法</label>
                    <div class="input-group">
                        <div class="icheck-primary d-inline">
                            <input type="radio" id="appType1" name="appType" value="1" onclick="jinchengfangfa('1')" checked>
                            <label for="appType1"><span style="opacity:.70">进程ID号</span></label>
                        </div>
                        <div class="icheck-yellow d-inline" style="margin-left:30px;">
                            <input type="radio" id="appType2" name="appType" value="2" onclick="jinchengfangfa('2')">
                            <label for="appType2"><span style="opacity:.70">PID文件路径</span></label>
                        </div>
                        <div class="icheck-teal d-inline" style="margin-left:30px;">
                            <input type="radio" id="appType3" name="appType" value="3" onclick="jinchengfangfa('3')">
                            <label for="appType3"><span style="opacity:.70">进程命令行的关键字符或进程名称</span></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label><font color="red">*</font><span id="jinchengfangfa">进程ID号</span></label>
                    <input type="text" autocomplete="off"  th:value="${appInfo.appPid}" class="validate[required,maxSize[200]] form-control" name="appPid" id="appPid" placeholder="输入进程ID号如9639">
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>进程名称</label>
                    <input type="text" autocomplete="off"  th:value="${appInfo.appName}" class="validate[required,maxSize[200]] form-control" name="appName" id="appName" placeholder="如LLM平台">
                </div>
                <div class="form-group">
                    <label>自动恢复指令<span data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top" data-content="当检测到进程离线后触发，agent会自动执行下方输入的指令或脚本，如果不需要执行，删除指令或停止监控即可，此功能需升级到专业版" class="text-muted">（多条指令请换行输入）</span><span class="text-muted" th:text="${blockStr}">敏感字符串过滤</span></label>
                    <textarea class="validate[maxSize[500]] form-control"   name="customShell" id="customShell" th:text="${appInfo.customShell}"></textarea>
                </div>
                <div id="dataFormList" class="form-group clearfix"></div>
                <th:block th:if="${#strings.isEmpty(appInfo.id)}" >
                    <div class="form-group row">
                        <div class="col-12"><button  type="button" onclick="addDataForm()" class="btn btn-primary btn-sm float-right"><i class="fa fa-plus-circle"></i> 添加一行</button>&nbsp;</div>
                    </div>
                    <input type="hidden" name="dataFromIndex"  id="dataFromIndex"/>
                </th:block>
                <div class="form-group">
                    <label><font color="red">*</font>告警级别</label>
                    <div th:replace="common/warnLevel.html"></div>
                </div>
                <div class="form-group clearfix">
                    <label><font color="red">*</font>监控状态</label>
                    <div th:replace="common/activeRadio.html"></div>
                </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm" style="margin-right:10px;"><i class="fas fa-save"></i> 保 存</button>
                <button type="button"  th:onclick="goback()"  class="btn bg-danger btn-sm"><i class="fas fa-backward"></i> 返 回</button>
            </div>

        </form>
    </div>
    <!-- /.card -->


  </div><!-- /.col-md-10 -->

        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->


  <div th:replace="common/footer.html"></div>

</div>
<!-- ./wrapper -->

<!-- 动态添加一行数据 -->
<div  id="dataHideContent" style="display: none">
    <div id="dataFrom_{num}" class="card card-primary card-outline">
        <div class="card-body">
            <div class="form-group">
                <label><font color="red">*</font><span>进程ID号</span></label>
                <input type="text" autocomplete="off" class="validate[required,maxSize[200]] form-control" name="appPid_{num}" id="appPid_{num}">
            </div>
            <div class="form-group">
                <label><font color="red">*</font>进程名称</label>
                <input type="text" autocomplete="off"  class="validate[required,maxSize[200]] form-control" name="appName_{num}" id="appName_{num}">
            </div>
            <div class="form-group">
            <div class="col-12"><button type="button" onclick="removeDiv('dataFrom_{num}')" class="btn bg-danger btn-sm float-right"><i class="far fa-trash-alt"></i> 删除</button></div>
        </div>
        </div>
    </div>
</div>

<div th:replace="common/codemirror.html"></div>
<script th:src="@{'/static/js/app.js?v=3.5.0'}"></script>
<script th:inline="javascript">
    $(document).ready(function(){
        $("#form1").validationEngine();
        //Initialize Select2 Elements
        $('.select2').select2()
        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })

        $("#hostname").val([[${appInfo.hostname}]]).select2();
        var appTypeVal = [[${appInfo.appType}]];
        $("input[name='appType'][value='"+appTypeVal+"']").attr('checked','true');
        jinchengfangfaHuixian(appTypeVal);
        var warnLevel = [[${appInfo.warnLevel}]];
        $("input[name='warnLevel'][value='"+warnLevel+"']").attr('checked','true');
        var active = [[${appInfo.active}]];
        $("input[name='active'][value='"+active+"']").attr('checked','true');

        var editor = CodeMirror.fromTextArea(document.getElementById("customShell"), {
            lineNumbers: true,
            styleActiveLine: true,
            matchBrackets: true,
            mode: 'shell',
        });
        editor.setOption("theme", "dracula");
        editor.setSize('auto','200px');
    });

    function jinchengfangfaHuixian(appTypeVal) {
        var fangfa = appTypeVal;
        if(fangfa=='1'){
            $("#jinchengfangfa").html("进程ID号");
        }
        if(fangfa=='2'){
            $("#jinchengfangfa").html("PID文件路径");
        }
        if(fangfa=='3'){
            $("#jinchengfangfa").html("进程命令行的关键字符或进程名称");
        }
    }


    function jinchengfangfa(appTypeVal) {
        var fangfa = appTypeVal;
        if(fangfa=='1'){
            $("#jinchengfangfa").html("进程ID号");
            $("#appPid").attr("placeholder","输入进程ID号如9639");
        }
        if(fangfa=='2'){
            $("#jinchengfangfa").html("PID文件路径");
            $("#appPid").attr("placeholder","如：/usr/local/nginx.pid");
        }
        if(fangfa=='3'){
            $("#jinchengfangfa").html("进程命令行的关键字符或进程名称");
            $("#appPid").attr("placeholder","Linux或Windows的进程启动指令COMMAND里的关键字符，请保证关键字符能唯一对应进程，如：cac-server-release.jar");
        }
        appType = fangfa;
    }

    var msg = [[${msg}]];
    if(msg!='' && msg!=null){
        toastr.error(msg);
    }
</script>
</body>
</html>
