<!DOCTYPE html>
<html>
<head>
  <div  th:replace="common/header.html"></div>


</head>
<body th:class="${session.sidebarCollapse}">
<div th:replace="common/chart.html"></div>

<div class="wrapper">

  <div th:replace="common/navbar.html"></div>

  <div th:replace="common/aside.html"></div>

  <!-- Content Wrapper. Contains page content -->
  <div th:class="'content-wrapper '+${session.themeNameSign}" style="font-size:0.90rem">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active"></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

  <div class="col-md-12">
    <div th:class="'card card-primary '+${session.themeNameSign}">
      <div class="card-header">
        <h3 class="card-title" th:text="${appInfo.hostname}">进程信息</h3>
        <span class="btncopy" th:data-clipboard-text="${appInfo.hostname}" data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top" data-content="复制"  style="cursor:pointer;margin-left: 5px"><i class="fa fa-copy"></i></span>
        <div class=" float-sm-right">
          <a href="javascript:history.back()">返回上级</a>
        </div>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form role="form">
        <div class="card-body">
          <div class="form-group">
            <label>进程 <small  style="background:#508ff4;margin-left:5px;" class="badge badge-danger" data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top" data-content="采集时间"><i class="far fa-clock"></i> <span th:text="${#dates.format(appInfo.createTime,'yyyy-MM-dd HH:mm:ss')}">10 Feb. 2014</span></small></label>
              <div><strong>主机IP：</strong><span th:text="${appInfo.hostname}"></span>，<strong>进程名称：</strong><span th:text="${appInfo.appName}"></span>，<strong>PID：</strong><span th:text="${appInfo.gatherPid}"></span>，
                <strong>启动时间：</strong><span th:text="${appInfo.appTimes}"></span>，<strong>进程所有者：</strong><span th:text="${appInfo.proUsername}"></span>，
                <strong>从磁盘累计读取数据：</strong><span th:text="${appInfo.readBytes}"></span>，<strong>累计给磁盘写入数据：</strong><span th:text="${appInfo.writesBytes}"></span>
                ，<strong>命令行：</strong></strong><code class="highlighter-rouge" style="font-size:100%;font-weight:700" th:text="${appInfo.appCmdLine}"></code>
                <span th:if="${application.hostGroup == 'true'}">，<strong>标签：</strong><span th:if="${appInfo.groupId eq '' || appInfo.groupId eq null}">无</span><span th:text="${appInfo.groupId}"></span></span>
              </div>
          </div>
          <div class="form-group"><strong>监控任务执行状态：</strong><code class="highlighter-rouge" style="font-size:100%;font-weight:700" th:text="${appErrorMsg}"></code>
            ，<strong>自动恢复指令执行状态：</strong><code class="highlighter-rouge" style="font-size:100%;font-weight:700" th:text="${shellCallBackMsg}"></code></div>
        </div>
        <!-- /.card-body -->
      </form>
      <!-- /.card-body -->

      <div class="row">
        <div class="col-12 table-responsive">
          <table class="table table-striped"><tbody><tr>
            <th:block th:each="item : ${amList}">
              <th:block th:if="${item.code eq  am}">
                <td width="2%" style="vertical-align:bottom;"> <button type="button" style="background:#1652f0;color:#fff;border-color:#1652f0;" title="当前已显示该时间段图表" class="btn btn-block btn-outline-danger btn-sm disabled" th:text="${item.msg}">Primary</button></td>
              </th:block>
              <th:block th:unless="${item.code eq  am}">
                <td width="2%" style="vertical-align:bottom;"> <button type="button"  th:onclick="viewDate([[${appInfo.id}]],[[${item.code}]])" class="btn btn-block btn-outline-primary btn-sm" th:text="${item.msg}">Primary</button></td>
              </th:block>
            </th:block>

            <td width="10%">
              <form class="form-inline ml-3   float-sm-right" th:action="@{'/appInfo/view'}">
                <input type="hidden" name="id" th:value="${appInfo.id}"/>
                <div class="input-group input-group-sm">
                  <input type="text" autocomplete="off" value="" class="validate[maxSize[50]] form-control"  th:value="${startTime}" name="startTime" id="startTime" placeholder="开始时间" style="margin-right:5px;">
                  <label style="margin-right:5px;">至</label>
                  <input type="text" autocomplete="off" value="" class="validate[maxSize[50]] form-control"  th:value="${endTime}" name="endTime" id="endTime" placeholder="结束时间" style="margin-right:5px;">
                  <button type="submit" class="btn btn-primary btn-sm" style="margin-right:5px;">查询</button>
                  <button type="button" onclick="resetParam()" class="btn bg-danger btn-sm" style="margin-right:5px;">重置</button>
                </div>
              </form>
            </td>
            <td width="2%" style="vertical-align:bottom;text-align: right"><button type="button" th:onclick="excelExport([[${appInfo.id}]],[[${am}]])" class="btn btn-primary btn-sm">导出Excel</button></td>
            </tr></tbody></table>
        </div>
        <!-- /.col -->
      </div><!-- /.row -->


        <label style="margin-left: .9rem">cpu使用率%
          <span style="margin-left:20px">最高</span><span class="description-percentage text-danger" style="margin-left:10px;margin-right:10px;"><i class="fas fa-caret-down"></i> <span th:text="${cpuSubtitleDto.maxValue}">18</span></span>
          平均<span class="description-percentage text-warning" style="margin-left:5px;margin-right:10px;"><i class="fas fa-caret-left"></i> <span th:text="${cpuSubtitleDto.avgValue}">0</span></span>
          最低<span class="description-percentage text-success" style="margin-left:5px;margin-right:30px;"><i class="fas fa-caret-up"></i> <span th:text="${cpuSubtitleDto.minValue}">17</span></span></label>
        <div id="cpuStateJson"></div>

        <label style="margin-left: .9rem">内存使用MB
          <span style="margin-left:20px">最高</span><span class="description-percentage text-danger" style="margin-left:10px;margin-right:10px;"><i class="fas fa-caret-down"></i> <span th:text="${memSubtitleDto.maxValue}">18</span></span>
          平均<span class="description-percentage text-warning" style="margin-left:5px;margin-right:10px;"><i class="fas fa-caret-left"></i> <span th:text="${memSubtitleDto.avgValue}">0</span></span>
          最低<span class="description-percentage text-success" style="margin-left:5px;margin-right:30px;"><i class="fas fa-caret-up"></i> <span th:text="${memSubtitleDto.minValue}">17</span></span></label>
        <div id="memStateJson"></div>

        <label style="margin-left: .9rem">进程使用的线程数量
          <span style="margin-left:20px">最高</span><span class="description-percentage text-danger" style="margin-left:10px;margin-right:10px;"><i class="fas fa-caret-down"></i> <span th:text="${threadsSubtitleDto.maxValue}">18</span></span>
          平均<span class="description-percentage text-warning" style="margin-left:5px;margin-right:10px;"><i class="fas fa-caret-left"></i> <span th:text="${threadsSubtitleDto.avgValue}">0</span></span>
          最低<span class="description-percentage text-success" style="margin-left:5px;margin-right:30px;"><i class="fas fa-caret-up"></i> <span th:text="${threadsSubtitleDto.minValue}">17</span></span></label>
        <div id="threadsNumJson"></div>

      <label style="margin-left: .9rem">进程连接数量（包括tcp、udp等所有类型的连接）
        <span style="margin-left:20px">最高</span><span class="description-percentage text-danger" style="margin-left:10px;margin-right:10px;"><i class="fas fa-caret-down"></i> <span th:text="${netConnectionsSubtitleDto.maxValue}">18</span></span>
        平均<span class="description-percentage text-warning" style="margin-left:5px;margin-right:10px;"><i class="fas fa-caret-left"></i> <span th:text="${netConnectionsSubtitleDto.avgValue}">0</span></span>
        最低<span class="description-percentage text-success" style="margin-left:5px;margin-right:30px;"><i class="fas fa-caret-up"></i> <span th:text="${netConnectionsSubtitleDto.minValue}">17</span></span></label>
      <div id="netConnectionsJson"></div>
      <div class="card-footer">
        <button type="button"  th:onclick="goback()"  class="btn bg-danger btn-sm"><i class="fas fa-backward"></i> 返 回</button>
      </div>

    </div>
    <!-- /.card -->


  </div><!-- /.col-md-12 -->

        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->


  <div th:replace="common/footer.html"></div>

</div>
<!-- ./wrapper -->

<script th:src="@{'/static/js/app.js?v=3.5.0'}"></script>


<script th:inline="javascript">
  var startTimeResponse =[[${startTime}]];
  var endTimeResponse =[[${endTime}]];
  $(document).ready(function(){
    var startTime = $('#startTime');
    if(startTime!=null && startTime != undefined){
      startTime.daterangepicker({
        singleDatePicker: true,
        timePicker: true,
        timePicker24Hour : true,
        "opens": "center",
        "locale": {
          format: 'YYYY-MM-DD HH:mm',
          applyLabel: "应用",
          cancelLabel: "取消",
          daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
          monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
        }
      });
      if(startTimeResponse=='' || startTimeResponse==null){
        startTime.val("");
      }
    }

    var endTime = $('#endTime');
    if(endTime!=null && endTime != undefined){
      endTime.daterangepicker({
        singleDatePicker: true,
        timePicker: true,
        timePicker24Hour : true,
        "opens": "center",
        "locale": {
          format: 'YYYY-MM-DD HH:mm',
          applyLabel: "应用",
          cancelLabel: "取消",
          daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
          monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
        }
      });
      if(endTimeResponse=='' || endTimeResponse==null){
        endTime.val("");
      }
    }
    var clipboard = new ClipboardJS('.btncopy');
    clipboard.on('success', function (e) {
      toastr.success("复制成功");
    });
  });

  function resetParam(){
    $("#startTime").val("");
    $("#endTime").val("");
  }

    var appStateJson =[[${appStateList}]];
    $(function() {
      var chart = new G2.Chart({
        container: 'cpuStateJson',
        forceFit: true,
        height: 400,
        padding: [30, 40, 70, 60]
      });
      chart.axis('dateStr', {
        label: {
          textStyle: {
            fill: '#aaaaaa'
          }
        }
      });
      chart.axis('cpuPer', {
        label: {
          textStyle: {
            fill: '#aaaaaa'
          }
        }
      });
      chart.tooltip({
        crosshairs: false
      });
      chart.legend({
        position: 'top-center'
      });
      chart.source(appStateJson, {
        cpuPer: {
          alias: 'cpu使用率'
        }
      });
      chart.scale('dateStr',{tickCount: 12,alias: '时间'});
      chart.line().position('dateStr*cpuPer').color('#1890ff');
      chart.render();


      var chart2 = new G2.Chart({
        container: 'memStateJson',
        forceFit: true,
        height: 400,
        padding: [30, 40, 70, 60]
      });
      chart2.axis('dateStr', {
        label: {
          textStyle: {
            fill: '#aaaaaa'
          }
        }
      });
      chart2.axis('memPer', {
        label: {
          textStyle: {
            fill: '#aaaaaa'
          }
        }
      });
      chart2.tooltip({
        crosshairs: false
      });
      chart2.legend({
        position: 'top-center'
      });
      chart2.source(appStateJson, {
        memPer: {
          alias: '内存使用'
        }
      });
      chart2.scale('dateStr', {tickCount: 12, alias: '时间'});
      chart2.line().position('dateStr*memPer').color('#2fc25b');
      chart2.render();


      var chart3 = new G2.Chart({
        container: 'threadsNumJson',
        forceFit: true,
        height: 400,
        padding: [30, 40, 70, 60]
      });
      chart3.axis('dateStr', {
        label: {
          textStyle: {
            fill: '#aaaaaa'
          }
        }
      });
      chart3.axis('threadsNumInt', {
        label: {
          textStyle: {
            fill: '#aaaaaa'
          }
        }
      });
      chart3.tooltip({
        crosshairs: false
      });
      chart3.legend({
        position: 'top-center'
      });
      chart3.source(appStateJson, {
        threadsNumInt: {
          alias: '线程数量'
        }
      });
      chart3.scale('dateStr', {tickCount: 12, alias: '时间'});
      chart3.line().position('dateStr*threadsNumInt').color('#8B78F6');
      chart3.render();

      var chart4 = new G2.Chart({
        container: 'netConnectionsJson',
        forceFit: true,
        height: 400,
        padding: [30, 40, 70, 60]
      });
      chart4.axis('dateStr', {
        label: {
          textStyle: {
            fill: '#aaaaaa'
          }
        }
      });
      chart4.axis('threadsNumInt', {
        label: {
          textStyle: {
            fill: '#aaaaaa'
          }
        }
      });
      chart4.tooltip({
        crosshairs: false
      });
      chart4.legend({
        position: 'top-center'
      });
      chart4.source(appStateJson, {
        netConnectionsInt: {
          alias: '连接数量'
        }
      });
      chart4.scale('dateStr', {tickCount: 12, alias: '时间'});
      chart4.line().position('dateStr*netConnectionsInt').color('#2fc25b');
      chart4.render();

    })

  var msg = [[${msg}]];
  if(msg!='' && msg!=null){
    toastr.info(msg);
  }

  var compressDataMsg = [[${compressDataMsg}]];
  if(compressDataMsg!='' && compressDataMsg!=null){
    toastr.success(compressDataMsg);
  }
</script>


</body>
</html>
