<!DOCTYPE html>
<html>
<head>
  <div  th:replace="common/header.html"></div>


</head>
<body th:class="${session.sidebarCollapse}">
<div th:replace="common/chart.html"></div>

<div class="wrapper">

  <div th:replace="common/navbar.html"></div>

  <div th:replace="common/aside.html"></div>

  <!-- Content Wrapper. Contains page content -->
  <div th:class="'content-wrapper '+${session.themeNameSign}"  style="font-size:0.90rem">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active"></li>
                </ol>
            </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

  <div class="col-md-11">
    <div th:class="'card card-primary '+${session.themeNameSign}">
      <div class="card-header">
        <h3 class="card-title">查看监测信息（FTP或SFTP）</h3>
          <div class=" float-sm-right">
              <a href="javascript:history.back()">返回上级</a>
          </div>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
        <form role="form" id="form1">
            <input type="hidden" name="id" th:value="${ftpInfo.id}"/>
            <div class="card-body">
                <div class="form-group">
                    <label><font color="red">*</font>名称<span class="text-muted">（FTP/SFTP名称）</span></label>
                    <div  th:text="${ftpInfo.ftpName}"></div>
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>IP<span class="text-muted">（FTP/SFTP服务器IP）</span></label>
                    <div  th:text="${ftpInfo.ftpHost}"></div>
                </div>
                <div class="form-group clearfix">
                    <label><font color="red">*</font>FTP/SFTP类型</label>
                    <div class="input-group">
                        <div class="icheck-primary d-inline">
                            <input type="radio" id="radioPrimary5" onclick="setFtpPort()" name="ftpType" value="FTP">
                            <label for="radioPrimary5"><span style="opacity:.70">FTP</span></label>
                        </div>
                        <div class="icheck-danger d-inline" style="margin-left:30px;">
                            <input type="radio" id="radioPrimary6" onclick="setSFtpPort()" name="ftpType"  value="SFTP" checked>
                            <label for="radioPrimary6"><span style="opacity:.70">SFTP</span></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>端口<span class="text-muted">（FTP/SFTP端口）</span></label>
                    <div  th:text="${ftpInfo.port}"></div>
                </div>
                <div class="form-group">
                    <label>用户名</label>
                    <div>******</div>
                </div>
                <div class="form-group">
                    <label>密码</label>
                    <div>******</div>
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>告警级别</label>
                    <div th:replace="common/warnLevel.html"></div>
                </div>

                <div class="form-group clearfix">
                    <label><font color="red">*</font>监控状态</label>
                    <div th:replace="common/activeRadio.html"></div>
                </div>
                <div class="form-group"  th:if="${application.hostGroup == 'true'}">
                    <label>标签</label>
                    <div><span th:text="${ftpInfo.groupId}"></span><span th:if="${ftpInfo.groupId} == null or ${ftpInfo.groupId} == ''">无</span></div>
                </div>
                <div class="form-group">
                    <label>更新时间</label>
                    <div  th:text="${#dates.format(ftpInfo.createTime,'yyyy-MM-dd HH:mm:ss')}" ></div>
                </div>
                <div class="form-group">
                    <label>监控任务执行状态</label>
                    <div><code class="highlighter-rouge" style="font-size:100%;font-weight:700" th:text="${ftpInfoErrorMsg}"></code></div>
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="button"  th:onclick="goback()"  class="btn bg-danger btn-sm"><i class="fas fa-backward"></i> 返 回</button>
            </div>

        </form>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->


  </div>

        </div>
      </div>
    </section>
  </div>


  <div th:replace="common/footer.html"></div>

</div>
<!-- ./wrapper -->


<script th:src="@{'/static/js/ftpInfo.js?v=3.5.8'}"></script>
<script th:inline="javascript">
    $(document).ready(function(){
        var warnLevel = [[${ftpInfo.warnLevel}]];
        $("input[name='warnLevel'][value='"+warnLevel+"']").attr('checked','true');
        var active = [[${ftpInfo.active}]];
        $("input[name='active'][value='"+active+"']").attr('checked','true');
        var ftpType = [[${ftpInfo.ftpType}]];
        $("input[name='ftpType'][value='"+ftpType+"']").attr('checked','true');
        var clipboard = new ClipboardJS('.btncopy');
    });
</script>
</body>
</html>
