input[type=checkbox] {
    zoom: 130%;
    -moz-transform:scale(1.3);
}

.darkbg-border-color, .darkbg-border-color thead, .darkbg-border-color thead th, .darkbg-border-color td {
    border-bottom-color:#4b545c;
    border-top-color: #4b545c;
    border-right-color:#4b545c;
    border-left-color:#4b545c;
}

