<!DOCTYPE html>
<html>
<head>
  <div  th:replace="common/header.html"></div>
  <!--ztree 3.5.48-->
  <link rel="stylesheet" th:href="@{'/static/common/ztree/zTreeStyle/zTreeStyle.css'}">
</head>
<body th:class="${session.sidebarCollapse}">

<div class="wrapper">

  <div th:replace="common/navbar.html"></div>

  <div th:replace="common/aside.html"></div>

  <!-- Content Wrapper. Contains page content -->
  <div th:class="'content-wrapper '+${session.themeNameSign}"  style="font-size:0.90rem">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active"></li>
                </ol>
            </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

  <div class="col-md-12">
    <div th:class="'card card-primary '+${session.themeNameSign}">
      <div class="card-header">
        <h3 class="card-title">编辑成员账号（添加后可登录）</h3>
          <div class=" float-sm-right">
              <a href="javascript:history.back()">返回上级</a>
          </div>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
        <form role="form" id="form1" th:action="@{'/accountInfo/save'}"  method="post" onsubmit="getMenuCheckValues()" >
            <input type="hidden" name="id" th:value="${accountInfo.id}"/>
            <input type="hidden" name="menuIds" id="menuIds" th:value="${accountInfo.menuIds}"/>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label><font color="red">*</font>账号类型 <span class="text-muted">（两种账号都可以登录，成员账号可以编辑/监控资源，只读账号只能浏览不能编辑）</span></label>
                            <div class="input-group">
                                <div class="icheck-primary d-inline">
                                    <input type="radio"  onclick="showUserContentDiv()" id="role1" name="role" value="user" checked>
                                    <label for="role1"><span style="opacity:.70">成员账号</span></label>
                                </div>
                                <div class="icheck-wisteria d-inline" style="margin-left:30px;">
                                    <input type="radio"  onclick="hideUserContentDiv()" id="role2"  name="role"  value="guest">
                                    <label for="role2"><span style="opacity:.70">只读账号</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label><font color="red">*</font>登录账号 <span class="text-muted">（账号应该唯一，不能重复，也不能和管理员账号重复）</span><span class="btncopy" data-clipboard-action="copy"  data-clipboard-target="#account" data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top" data-content="复制" style="cursor:pointer;margin-left:10px"><i class="fa fa-copy"></i></span></label>
                            <input type="text" autocomplete="off"  th:value="${accountInfo.account}" class="validate[required,maxSize[30]] form-control" name="account" id="account" placeholder="请输入登录账号">
                        </div>
                        <div th:if="${accountInfo.id == null}" class="form-group">
                            <label><font color="red">*</font>登录密码 <span class="btncopy" data-clipboard-action="copy"  data-clipboard-target="#passwd" data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top" data-content="复制" style="cursor:pointer;margin-left:10px"><i class="fa fa-copy"></i></span>
                                <span  data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top" data-content="显示密码" onclick="javascript:showPasswd();" style="cursor:pointer;margin-left:10px"><i id="eyeSwitch" class="fa fa-eye"></i></span></label>
                            <input type="password" autocomplete="off"  th:value="${accountInfo.passwd}" class="validate[required,maxSize[30]] form-control" name="passwd" id="passwd" placeholder="请输入登录密码">
                        </div>
                        <div id="userFormContent">
                            <div class="form-group">
                                <label>成员邮箱 <span class="text-muted">（若配置过邮件告警，系统会自动给该成员发送其管理资源的告警邮件，多个邮箱用分号;隔开）</span></label>
                                <input type="text" autocomplete="off"  th:value="${accountInfo.email}" class="validate[maxSize[200]] form-control" name="email" id="email" placeholder="请输入邮箱">
                            </div>
                            <div class="form-group">
                                <label>成员标识
                                    <span  data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top" data-content="一般填写第三方用户ID，比如手机号等，若配置过告警脚本，脚本中获取第二个参数即是成员标识值，第一个参数为该成员所属资源的告警内容"  style="cursor:pointer;margin-left: 10px"><i class="fa fa-comment-dots"></i></span>
                                </label>
                                <input type="text" autocomplete="off"  th:value="${accountInfo.accountKey}" class="validate[maxSize[50]] form-control" name="accountKey" id="accountKey" placeholder="请输入成员标识">
                            </div>
                            <div class="form-group">
                                <label><font color="red"></font>该账号管理的监控主机<span class="text-muted">（请将该账号管理的主机移到右侧）</span></label>
                                <div th:replace="common/multiSelectHost.html"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>手机号 <span class="text-muted">（登录时接收验证码使用）</span></label>
                            <input type="text" autocomplete="off"  th:value="${accountInfo.accountPhone}" class="validate[maxSize[50]] form-control" name="accountPhone"  placeholder="请输入手机号">
                        </div>
                        <div class="form-group">
                            <label>备注 </label>
                            <input type="text" autocomplete="off"  th:value="${accountInfo.remark}" class="validate[maxSize[200]] form-control" name="remark" id="remark" placeholder="请输入备注">
                        </div>
                    </div>
                    <div class="col-md-3  bg-teal color-palette">
                        <label>菜单（请选择该账号可以操作的菜单）</label>
                        <ul id="treeMenu" class="ztree"></ul>
                    </div>
                </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm" style="margin-right:10px;"><i class="fas fa-save"></i> 保 存</button>
                <button type="button"  th:onclick="goback()"  class="btn bg-danger btn-sm"><i class="fas fa-backward"></i> 返 回</button>
            </div>

        </form>
    </div>
    <!-- /.card -->


  </div><!-- /.col-md-10 -->

        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->


  <div th:replace="common/footer.html"></div>

</div>
<!-- ./wrapper -->
<script th:src="@{'/static/common/ztree/jquery.ztree.core.min.js'}"></script>
<script th:src="@{'/static/common/ztree/jquery.ztree.excheck.min.js'}"></script>
<script th:src="@{'/static/js/accountInfo.js?v=3.5.0'}"></script>
<script th:inline="javascript">
    var setting = {
        check: {
            enable: true
        },
        data: {
            simpleData: {
                enable: true
            }
        }
    };

    var zNodes = [[${menuTreeNodeDtoList}]];

    $(document).ready(function(){
        $("#form1").validationEngine();
        $('.duallistbox').bootstrapDualListbox({
            nonSelectedListLabel: '未选监控主机',
            selectedListLabel: '已选监控主机',
            filterPlaceHolder: '过滤条件',
            moveAllLabel: '添加全部',
            removeAllLabel: '移除全部',
            infoText: '当前列表共 {0} 项',
            infoTextEmpty: '列表为空',
        });
        $.fn.zTree.init($("#treeMenu"), setting, zNodes);
        var role = [[${accountInfo.role}]];
        $("input[name='role'][value='"+role+"']").attr('checked','true');
        if(role=="guest"){
            hideUserContentDiv();
        }
        var clipboard = new ClipboardJS('.btncopy');
        clipboard.on('success', function (e) {
            toastr.success("复制成功");
        });
    });


    function hideUserContentDiv(){
        $("#userFormContent").hide();
    }
    function showUserContentDiv(){
        $("#userFormContent").show();
    }

</script>
</body>
</html>
